﻿@{
    if (User.Identity.IsAuthenticated)
    {

    }
    else
    {
        Response.Redirect("/Account/Login");
    }
    DAL.FetchOrganizationDetail_Result org = new Account().FetchOrganization();
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Shared/css")
    @Scripts.Render("~/Shared/js")
    @Scripts.Render("~/bundles/jqueryval")
    <link href="~/css/themes/earth.min.css" rel="stylesheet" />
   
</head>
<body>
    <header class="navbar clearfix" id="header">
        <div class="container">
            <div class="navbar-brand">

                <!-- TEAM STATUS FOR MOBILE -->
                <div class="visible-xs">
                    <a href="#" class="team-status-toggle switcher btn dropdown-toggle">
                        <i class="fa fa-users"></i>
                    </a>
                </div>
                <!-- /TEAM STATUS FOR MOBILE -->
                <!-- SIDEBAR COLLAPSE -->
                <div id="sidebar-collapse" class="sidebar-collapse btn">
                    <i class="fa fa-bars"
                       data-icon1="fa fa-bars"
                       data-icon2="fa fa-bars"></i>
                </div>
                <!-- /SIDEBAR COLLAPSE -->
            </div>
           
            <!-- BEGIN TOP NAVIGATION MENU -->
            <ul class="nav navbar-nav pull-right">
                <!-- BEGIN NOTIFICATION DROPDOWN -->
                <li class="dropdown" id="header-notification">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <i class="fa fa-bell"></i>
                        <span class="badge">1</span>
                    </a>
                    <ul class="dropdown-menu notification">
                        <li class="dropdown-title">
                            <span><i class="fa fa-bell"></i> 1 Notification(s)</span>
                        </li>
                        <li>
                            <a href="#">
                                <span class="label label-success"><i class="fa fa-user"></i></span>
                                <span class="body">
                                    <span class="message">You have successfully Log in. </span>
                                    <span class="time">
                                        <i class="fa fa-clock-o"></i>
                                        <span>Just now</span>
                                    </span>
                                </span>
                            </a>
                        </li>

                    </ul>
                </li>
                <!-- END NOTIFICATION DROPDOWN -->
                <!-- BEGIN INBOX DROPDOWN -->
                <li class="dropdown" id="header-message">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <i class="fa fa-envelope"></i>
                        <span class="badge">1</span>
                    </a>
                    <ul class="dropdown-menu inbox">
                        <li class="dropdown-title">
                            <span><i class="fa fa-envelope-o"></i> 1 Messages</span>
                            <span class="compose pull-right tip-right" title="Compose message"><i class="fa fa-pencil-square-o"></i></span>
                        </li>
                        <li>
                            <a href="#">
                                <img src="~/img/avatars/avatar3.jpg" alt="" />
                                <span class="body">
                                    <span class="from">@org.FullName </span>
                                    <span class="message">
                                        this is admin demo
                                    </span>
                                    <span class="time">
                                        <i class="fa fa-clock-o"></i>
                                        <span>Just Now</span>
                                    </span>
                                </span>

                            </a>
                        </li>

                    </ul>
                </li>
                <!-- END INBOX DROPDOWN -->
                <!-- BEGIN TODO DROPDOWN -->
                <li class="dropdown" id="header-tasks">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <i class="fa fa-tasks"></i>
                        <span class="badge">0</span>
                    </a>
                    <ul class="dropdown-menu tasks">
                        <li class="dropdown-title">
                            <span><i class="fa fa-check"></i> 0 tasks in progress</span>
                        </li>
                    </ul>
                </li>
                <!-- END TODO DROPDOWN -->
                <!-- BEGIN USER LOGIN DROPDOWN -->
                <li class="dropdown user" id="header-user">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        @if (!string.IsNullOrEmpty(org.Picture))
                        {
                            <img alt="" src="~/App_Shared/Images/@org.Picture" height="100" width="100" />
                        }
                        else
                        {
                            <img alt="" src="/img/avatars/avatar3.jpg" height="100" width="100" />
                        }
                        <span class="username">@org.FullName</span>
                        <i class="fa fa-angle-down"></i>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="/User/UserProfile"><i class="fa fa-user"></i> My Profile</a></li>
                        <li><a href="../Manage/ChangePassword"><i class="fa fa-cog"></i> Account Settings</a></li>
                        @*<li><a href="#"><i class="fa fa-eye"></i> Privacy Settings</a></li>*@
                        <li><a href="/Account/LogOff"><i class="fa fa-power-off"></i> Log Out</a></li>
                    </ul>
                </li>
                <!-- END USER LOGIN DROPDOWN -->
            </ul>
            <!-- END TOP NAVIGATION MENU -->
        </div>

        <!-- Trigger the modal with a button -->
        <!-- TEAM STATUS -->
        <div class="container team-status" id="team-status">
            <div id="scrollbar">
                <div class="handle">
                </div>
            </div>
            <div id="teamslider">
                <ul class="team-list">
                    <li class="current">
                        <a href="javascript:void(0);">
                            <span class="image">
                                <img src="/img/avatars/avatar3.jpg" alt="" />
                            </span>
                            <span class="title">
                                You
                            </span>
                            <div class="progress">
                                <div class="progress-bar progress-bar-success" style="width: 35%">
                                    <span class="sr-only">35% Complete (success)</span>
                                </div>
                                <div class="progress-bar progress-bar-warning" style="width: 20%">
                                    <span class="sr-only">20% Complete (warning)</span>
                                </div>
                                <div class="progress-bar progress-bar-danger" style="width: 10%">
                                    <span class="sr-only">10% Complete (danger)</span>
                                </div>
                            </div>
                            <span class="status">
                                <div class="field">
                                    <span class="badge badge-green">6</span> completed
                                    <span class="pull-right fa fa-check"></span>
                                </div>
                                <div class="field">
                                    <span class="badge badge-orange">3</span> in-progress
                                    <span class="pull-right fa fa-adjust"></span>
                                </div>
                                <div class="field">
                                    <span class="badge badge-red">1</span> pending
                                    <span class="pull-right fa fa-list-ul"></span>
                                </div>
                            </span>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:void(0);">
                            <span class="image">
                                <img src="/img/avatars/avatar1.jpg" alt="" />
                            </span>
                            <span class="title">
                                Max Doe
                            </span>
                            <div class="progress">
                                <div class="progress-bar progress-bar-success" style="width: 15%">
                                    <span class="sr-only">35% Complete (success)</span>
                                </div>
                                <div class="progress-bar progress-bar-warning" style="width: 40%">
                                    <span class="sr-only">20% Complete (warning)</span>
                                </div>
                                <div class="progress-bar progress-bar-danger" style="width: 20%">
                                    <span class="sr-only">10% Complete (danger)</span>
                                </div>
                            </div>
                            <span class="status">
                                <div class="field">
                                    <span class="badge badge-green">2</span> completed
                                    <span class="pull-right fa fa-check"></span>
                                </div>
                                <div class="field">
                                    <span class="badge badge-orange">8</span> in-progress
                                    <span class="pull-right fa fa-adjust"></span>
                                </div>
                                <div class="field">
                                    <span class="badge badge-red">4</span> pending
                                    <span class="pull-right fa fa-list-ul"></span>
                                </div>
                            </span>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:void(0);">
                            <span class="image">
                                <img src="/img/avatars/avatar2.jpg" alt="" />
                            </span>
                            <span class="title">
                                Jane Doe
                            </span>
                            <div class="progress">
                                <div class="progress-bar progress-bar-success" style="width: 65%">
                                    <span class="sr-only">35% Complete (success)</span>
                                </div>
                                <div class="progress-bar progress-bar-warning" style="width: 10%">
                                    <span class="sr-only">20% Complete (warning)</span>
                                </div>
                                <div class="progress-bar progress-bar-danger" style="width: 15%">
                                    <span class="sr-only">10% Complete (danger)</span>
                                </div>
                            </div>
                            <span class="status">
                                <div class="field">
                                    <span class="badge badge-green">10</span> completed
                                    <span class="pull-right fa fa-check"></span>
                                </div>
                                <div class="field">
                                    <span class="badge badge-orange">3</span> in-progress
                                    <span class="pull-right fa fa-adjust"></span>
                                </div>
                                <div class="field">
                                    <span class="badge badge-red">4</span> pending
                                    <span class="pull-right fa fa-list-ul"></span>
                                </div>
                            </span>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:void(0);">
                            <span class="image">
                                <img src="/img/avatars/avatar4.jpg" alt="" />
                            </span>
                            <span class="title">
                                Ellie Doe
                            </span>
                            <div class="progress">
                                <div class="progress-bar progress-bar-success" style="width: 5%">
                                    <span class="sr-only">35% Complete (success)</span>
                                </div>
                                <div class="progress-bar progress-bar-warning" style="width: 48%">
                                    <span class="sr-only">20% Complete (warning)</span>
                                </div>
                                <div class="progress-bar progress-bar-danger" style="width: 27%">
                                    <span class="sr-only">10% Complete (danger)</span>
                                </div>
                            </div>
                            <span class="status">
                                <div class="field">
                                    <span class="badge badge-green">1</span> completed
                                    <span class="pull-right fa fa-check"></span>
                                </div>
                                <div class="field">
                                    <span class="badge badge-orange">6</span> in-progress
                                    <span class="pull-right fa fa-adjust"></span>
                                </div>
                                <div class="field">
                                    <span class="badge badge-red">2</span> pending
                                    <span class="pull-right fa fa-list-ul"></span>
                                </div>
                            </span>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:void(0);">
                            <span class="image">
                                <img src="/img/avatars/avatar5.jpg" alt="" />
                            </span>
                            <span class="title">
                                Lisa Doe
                            </span>
                            <div class="progress">
                                <div class="progress-bar progress-bar-success" style="width: 21%">
                                    <span class="sr-only">35% Complete (success)</span>
                                </div>
                                <div class="progress-bar progress-bar-warning" style="width: 20%">
                                    <span class="sr-only">20% Complete (warning)</span>
                                </div>
                                <div class="progress-bar progress-bar-danger" style="width: 40%">
                                    <span class="sr-only">10% Complete (danger)</span>
                                </div>
                            </div>
                            <span class="status">
                                <div class="field">
                                    <span class="badge badge-green">4</span> completed
                                    <span class="pull-right fa fa-check"></span>
                                </div>
                                <div class="field">
                                    <span class="badge badge-orange">5</span> in-progress
                                    <span class="pull-right fa fa-adjust"></span>
                                </div>
                                <div class="field">
                                    <span class="badge badge-red">9</span> pending
                                    <span class="pull-right fa fa-list-ul"></span>
                                </div>
                            </span>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:void(0);">
                            <span class="image">
                                <img src="/img/avatars/avatar6.jpg" alt="" />
                            </span>
                            <span class="title">
                                Kelly Doe
                            </span>
                            <div class="progress">
                                <div class="progress-bar progress-bar-success" style="width: 45%">
                                    <span class="sr-only">35% Complete (success)</span>
                                </div>
                                <div class="progress-bar progress-bar-warning" style="width: 21%">
                                    <span class="sr-only">20% Complete (warning)</span>
                                </div>
                                <div class="progress-bar progress-bar-danger" style="width: 10%">
                                    <span class="sr-only">10% Complete (danger)</span>
                                </div>
                            </div>
                            <span class="status">
                                <div class="field">
                                    <span class="badge badge-green">6</span> completed
                                    <span class="pull-right fa fa-check"></span>
                                </div>
                                <div class="field">
                                    <span class="badge badge-orange">3</span> in-progress
                                    <span class="pull-right fa fa-adjust"></span>
                                </div>
                                <div class="field">
                                    <span class="badge badge-red">1</span> pending
                                    <span class="pull-right fa fa-list-ul"></span>
                                </div>
                            </span>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:void(0);">
                            <span class="image">
                                <img src="/img/avatars/avatar7.jpg" alt="" />
                            </span>
                            <span class="title">
                                Jessy Doe
                            </span>
                            <div class="progress">
                                <div class="progress-bar progress-bar-success" style="width: 7%">
                                    <span class="sr-only">35% Complete (success)</span>
                                </div>
                                <div class="progress-bar progress-bar-warning" style="width: 30%">
                                    <span class="sr-only">20% Complete (warning)</span>
                                </div>
                                <div class="progress-bar progress-bar-danger" style="width: 10%">
                                    <span class="sr-only">10% Complete (danger)</span>
                                </div>
                            </div>
                            <span class="status">
                                <div class="field">
                                    <span class="badge badge-green">1</span> completed
                                    <span class="pull-right fa fa-check"></span>
                                </div>
                                <div class="field">
                                    <span class="badge badge-orange">6</span> in-progress
                                    <span class="pull-right fa fa-adjust"></span>
                                </div>
                                <div class="field">
                                    <span class="badge badge-red">2</span> pending
                                    <span class="pull-right fa fa-list-ul"></span>
                                </div>
                            </span>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:void(0);">
                            <span class="image">
                                <img src="/img/avatars/avatar8.jpg" alt="" />
                            </span>
                            <span class="title">
                                Debby Doe
                            </span>
                            <div class="progress">
                                <div class="progress-bar progress-bar-success" style="width: 70%">
                                    <span class="sr-only">35% Complete (success)</span>
                                </div>
                                <div class="progress-bar progress-bar-warning" style="width: 20%">
                                    <span class="sr-only">20% Complete (warning)</span>
                                </div>
                                <div class="progress-bar progress-bar-danger" style="width: 5%">
                                    <span class="sr-only">10% Complete (danger)</span>
                                </div>
                            </div>
                            <span class="status">
                                <div class="field">
                                    <span class="badge badge-green">13</span> completed
                                    <span class="pull-right fa fa-check"></span>
                                </div>
                                <div class="field">
                                    <span class="badge badge-orange">7</span> in-progress
                                    <span class="pull-right fa fa-adjust"></span>
                                </div>
                                <div class="field">
                                    <span class="badge badge-red">1</span> pending
                                    <span class="pull-right fa fa-list-ul"></span>
                                </div>
                            </span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <!-- /TEAM STATUS -->
    </header>

    @Html.Partial("_LeftPanel")
    <div id="main-content">
        <div class="container">
            <div class="row">
                <div id="content" class="col-lg-12">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="page-header">
                                <!-- STYLER -->
                                <!-- /STYLER -->
                                <!-- BREADCRUMBS -->

                                <div class="btn-group">
                                    <a class="btn btn-primary" href="../Home" role="button">Dashboard</a>
                                    <a class="btn btn-primary" href="../User" role="button">Manage Users</a>
                                    <a class="btn btn-primary" href="../Group" role="button">Manage Groups</a>
                                    <a class="btn btn-primary" href="../Folder" role="button">Manage Folders</a>
                                    <a class="btn btn-primary" href="../Record" role="button">Manage Records</a>
                                    <a class="btn btn-primary" href="#" role="button">Messages History</a>
                                    <a class="btn btn-primary" href="../Manage/ChangePassword" role="button">Settings</a>
                                    <a class="btn btn-primary" href="#" role="button">Privilleges Area</a>






                                </div>
                                <!-- COMPANY LOGO -->
                                <a href="/Home">
                                    <img style="float:right" src="~/img/CertiPowerLogo.PNG" alt="Cloud Admin Logo" class="img-responsive" height="150" width="100">

                                </a>


                                <!-- /COMPANY LOGO -->
                                <ul class="breadcrumb">
                                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                                    @if (ViewContext.RouteData.Values["controller"].ToString() != "Home")
                                    {
                                        <li>@Html.ActionLink(ViewContext.RouteData.Values["controller"].ToString(), "Index", ViewContext.RouteData.Values["controller"].ToString())</li>
                                    }
                                    @if (ViewContext.RouteData.Values["action"].ToString() != "Index")
                                    {
                                        <li class="active">@ViewContext.RouteData.Values["action"].ToString()</li>
                                    }
                                </ul>
                                <!-- /BREADCRUMBS -->
                                <div class="clearfix">
                                        <h3 class="content-title pull-left">@ViewBag.Title</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row" ng-app="genericModule">
                        <div class="col-sm-12">
                            @*<div class="divWaiting showNone" id="divLoader">
                                    <div class="pace-demo">
                                        <div class="theme_tail_circle"><div class="pace_progress" data-progress-text="60%" data-progress="60"></div><div class="pace_activity"></div></div>
                                    </div>
                                </div>*@

                            @RenderBody()
                            <hr />
                            <footer></footer>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>

    @RenderSection("scripts", required: false)
    <script>
		jQuery(document).ready(function() {
			App.setPage("index");  //Set current page
			App.init(); //Initialise plugins and elements
		});
    </script>
</body>
</html>
