﻿
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Shared/css")
    @Scripts.Render("~/Shared/js")

    @*<link href="~/assets/css/icons/fontawesome/styles.min.css" rel="stylesheet" />*@
    @*<link href="~/assets/Site.css" rel="stylesheet" />
        <link href="~/assets/toastr.css" rel="stylesheet" />
        <script src="~/Scripts/toastr.js"></script>*@
</head>
<body>
    <header class="navbar clearfix" id="header">
        <div class="container">
            <div class="navbar-brand">

                <!-- TEAM STATUS FOR MOBILE -->
                <div class="visible-xs">
                    <a href="#" class="team-status-toggle switcher btn dropdown-toggle">
                        <i class="fa fa-users"></i>
                    </a>
                </div>
                <!-- /TEAM STATUS FOR MOBILE -->
                <!-- SIDEBAR COLLAPSE -->
                <div id="sidebar-collapse" class="sidebar-collapse btn">
                    <i class="fa fa-bars"
                       data-icon1="fa fa-bars"
                       data-icon2="fa fa-bars"></i>
                </div>
                <!-- /SIDEBAR COLLAPSE -->
            </div>
            <!-- NAVBAR LEFT -->
            @*<ul class="nav navbar-nav pull-left hidden-xs" id="navbar-left">
                    <li class="dropdown">
                        <a href="#" class="team-status-toggle dropdown-toggle tip-bottom" data-toggle="tooltip" title="Toggle Team View">
                            <i class="fa fa-users"></i>
                            <span class="name">Team Status</span>
                            <i class="fa fa-angle-down"></i>
                        </a>
                    </li>

                </ul>*@
            <!-- /NAVBAR LEFT -->
            <!-- BEGIN TOP NAVIGATION MENU -->
            
            <!-- END TOP NAVIGATION MENU -->
        </div>
        <!-- Profile -->
       
            <!-- Trigger the modal with a button -->
            <!-- Modal -->
            <!-- END Profile Popup -->
            <!-- TEAM STATUS -->
            <div class="container team-status" id="team-status">
                <div id="scrollbar">
                    <div class="handle">
                    </div>
                </div>
                @*<div id="teamslider">
                    <ul class="team-list">
                        <li class="current">
                            <a href="javascript:void(0);">
                                <span class="image">
                                    <img src="/img/avatars/avatar3.jpg" alt="" />
                                </span>
                                <span class="title">
                                    You
                                </span>
                                <div class="progress">
                                    <div class="progress-bar progress-bar-success" style="width: 35%">
                                        <span class="sr-only">35% Complete (success)</span>
                                    </div>
                                    <div class="progress-bar progress-bar-warning" style="width: 20%">
                                        <span class="sr-only">20% Complete (warning)</span>
                                    </div>
                                    <div class="progress-bar progress-bar-danger" style="width: 10%">
                                        <span class="sr-only">10% Complete (danger)</span>
                                    </div>
                                </div>
                                <span class="status">
                                    <div class="field">
                                        <span class="badge badge-green">6</span> completed
                                        <span class="pull-right fa fa-check"></span>
                                    </div>
                                    <div class="field">
                                        <span class="badge badge-orange">3</span> in-progress
                                        <span class="pull-right fa fa-adjust"></span>
                                    </div>
                                    <div class="field">
                                        <span class="badge badge-red">1</span> pending
                                        <span class="pull-right fa fa-list-ul"></span>
                                    </div>
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0);">
                                <span class="image">
                                    <img src="/img/avatars/avatar1.jpg" alt="" />
                                </span>
                                <span class="title">
                                    Max Doe
                                </span>
                                <div class="progress">
                                    <div class="progress-bar progress-bar-success" style="width: 15%">
                                        <span class="sr-only">35% Complete (success)</span>
                                    </div>
                                    <div class="progress-bar progress-bar-warning" style="width: 40%">
                                        <span class="sr-only">20% Complete (warning)</span>
                                    </div>
                                    <div class="progress-bar progress-bar-danger" style="width: 20%">
                                        <span class="sr-only">10% Complete (danger)</span>
                                    </div>
                                </div>
                                <span class="status">
                                    <div class="field">
                                        <span class="badge badge-green">2</span> completed
                                        <span class="pull-right fa fa-check"></span>
                                    </div>
                                    <div class="field">
                                        <span class="badge badge-orange">8</span> in-progress
                                        <span class="pull-right fa fa-adjust"></span>
                                    </div>
                                    <div class="field">
                                        <span class="badge badge-red">4</span> pending
                                        <span class="pull-right fa fa-list-ul"></span>
                                    </div>
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0);">
                                <span class="image">
                                    <img src="/img/avatars/avatar2.jpg" alt="" />
                                </span>
                                <span class="title">
                                    Jane Doe
                                </span>
                                <div class="progress">
                                    <div class="progress-bar progress-bar-success" style="width: 65%">
                                        <span class="sr-only">35% Complete (success)</span>
                                    </div>
                                    <div class="progress-bar progress-bar-warning" style="width: 10%">
                                        <span class="sr-only">20% Complete (warning)</span>
                                    </div>
                                    <div class="progress-bar progress-bar-danger" style="width: 15%">
                                        <span class="sr-only">10% Complete (danger)</span>
                                    </div>
                                </div>
                                <span class="status">
                                    <div class="field">
                                        <span class="badge badge-green">10</span> completed
                                        <span class="pull-right fa fa-check"></span>
                                    </div>
                                    <div class="field">
                                        <span class="badge badge-orange">3</span> in-progress
                                        <span class="pull-right fa fa-adjust"></span>
                                    </div>
                                    <div class="field">
                                        <span class="badge badge-red">4</span> pending
                                        <span class="pull-right fa fa-list-ul"></span>
                                    </div>
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0);">
                                <span class="image">
                                    <img src="/img/avatars/avatar4.jpg" alt="" />
                                </span>
                                <span class="title">
                                    Ellie Doe
                                </span>
                                <div class="progress">
                                    <div class="progress-bar progress-bar-success" style="width: 5%">
                                        <span class="sr-only">35% Complete (success)</span>
                                    </div>
                                    <div class="progress-bar progress-bar-warning" style="width: 48%">
                                        <span class="sr-only">20% Complete (warning)</span>
                                    </div>
                                    <div class="progress-bar progress-bar-danger" style="width: 27%">
                                        <span class="sr-only">10% Complete (danger)</span>
                                    </div>
                                </div>
                                <span class="status">
                                    <div class="field">
                                        <span class="badge badge-green">1</span> completed
                                        <span class="pull-right fa fa-check"></span>
                                    </div>
                                    <div class="field">
                                        <span class="badge badge-orange">6</span> in-progress
                                        <span class="pull-right fa fa-adjust"></span>
                                    </div>
                                    <div class="field">
                                        <span class="badge badge-red">2</span> pending
                                        <span class="pull-right fa fa-list-ul"></span>
                                    </div>
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0);">
                                <span class="image">
                                    <img src="/img/avatars/avatar5.jpg" alt="" />
                                </span>
                                <span class="title">
                                    Lisa Doe
                                </span>
                                <div class="progress">
                                    <div class="progress-bar progress-bar-success" style="width: 21%">
                                        <span class="sr-only">35% Complete (success)</span>
                                    </div>
                                    <div class="progress-bar progress-bar-warning" style="width: 20%">
                                        <span class="sr-only">20% Complete (warning)</span>
                                    </div>
                                    <div class="progress-bar progress-bar-danger" style="width: 40%">
                                        <span class="sr-only">10% Complete (danger)</span>
                                    </div>
                                </div>
                                <span class="status">
                                    <div class="field">
                                        <span class="badge badge-green">4</span> completed
                                        <span class="pull-right fa fa-check"></span>
                                    </div>
                                    <div class="field">
                                        <span class="badge badge-orange">5</span> in-progress
                                        <span class="pull-right fa fa-adjust"></span>
                                    </div>
                                    <div class="field">
                                        <span class="badge badge-red">9</span> pending
                                        <span class="pull-right fa fa-list-ul"></span>
                                    </div>
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0);">
                                <span class="image">
                                    <img src="/img/avatars/avatar6.jpg" alt="" />
                                </span>
                                <span class="title">
                                    Kelly Doe
                                </span>
                                <div class="progress">
                                    <div class="progress-bar progress-bar-success" style="width: 45%">
                                        <span class="sr-only">35% Complete (success)</span>
                                    </div>
                                    <div class="progress-bar progress-bar-warning" style="width: 21%">
                                        <span class="sr-only">20% Complete (warning)</span>
                                    </div>
                                    <div class="progress-bar progress-bar-danger" style="width: 10%">
                                        <span class="sr-only">10% Complete (danger)</span>
                                    </div>
                                </div>
                                <span class="status">
                                    <div class="field">
                                        <span class="badge badge-green">6</span> completed
                                        <span class="pull-right fa fa-check"></span>
                                    </div>
                                    <div class="field">
                                        <span class="badge badge-orange">3</span> in-progress
                                        <span class="pull-right fa fa-adjust"></span>
                                    </div>
                                    <div class="field">
                                        <span class="badge badge-red">1</span> pending
                                        <span class="pull-right fa fa-list-ul"></span>
                                    </div>
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0);">
                                <span class="image">
                                    <img src="/img/avatars/avatar7.jpg" alt="" />
                                </span>
                                <span class="title">
                                    Jessy Doe
                                </span>
                                <div class="progress">
                                    <div class="progress-bar progress-bar-success" style="width: 7%">
                                        <span class="sr-only">35% Complete (success)</span>
                                    </div>
                                    <div class="progress-bar progress-bar-warning" style="width: 30%">
                                        <span class="sr-only">20% Complete (warning)</span>
                                    </div>
                                    <div class="progress-bar progress-bar-danger" style="width: 10%">
                                        <span class="sr-only">10% Complete (danger)</span>
                                    </div>
                                </div>
                                <span class="status">
                                    <div class="field">
                                        <span class="badge badge-green">1</span> completed
                                        <span class="pull-right fa fa-check"></span>
                                    </div>
                                    <div class="field">
                                        <span class="badge badge-orange">6</span> in-progress
                                        <span class="pull-right fa fa-adjust"></span>
                                    </div>
                                    <div class="field">
                                        <span class="badge badge-red">2</span> pending
                                        <span class="pull-right fa fa-list-ul"></span>
                                    </div>
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0);">
                                <span class="image">
                                    <img src="/img/avatars/avatar8.jpg" alt="" />
                                </span>
                                <span class="title">
                                    Debby Doe
                                </span>
                                <div class="progress">
                                    <div class="progress-bar progress-bar-success" style="width: 70%">
                                        <span class="sr-only">35% Complete (success)</span>
                                    </div>
                                    <div class="progress-bar progress-bar-warning" style="width: 20%">
                                        <span class="sr-only">20% Complete (warning)</span>
                                    </div>
                                    <div class="progress-bar progress-bar-danger" style="width: 5%">
                                        <span class="sr-only">10% Complete (danger)</span>
                                    </div>
                                </div>
                                <span class="status">
                                    <div class="field">
                                        <span class="badge badge-green">13</span> completed
                                        <span class="pull-right fa fa-check"></span>
                                    </div>
                                    <div class="field">
                                        <span class="badge badge-orange">7</span> in-progress
                                        <span class="pull-right fa fa-adjust"></span>
                                    </div>
                                    <div class="field">
                                        <span class="badge badge-red">1</span> pending
                                        <span class="pull-right fa fa-list-ul"></span>
                                    </div>
                                </span>
                            </a>
                        </li>
                    </ul>
                </div>*@
            </div>
            <!-- /TEAM STATUS -->
    </header>

    @*@Html.Partial("_LeftPanel")*@
    <div id="main-content">
        <div class="container">
            <div class="row">
                <div id="content" class="col-lg-12">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="page-header">
                                <!-- STYLER -->
                                <!-- /STYLER -->
                                <!-- BREADCRUMBS -->

                                @*<div class="btn-group">
                                    <a class="btn btn-primary" href="../Home" role="button">Dashboard</a>
                                    <a class="btn btn-primary" href="../User" role="button">Manage Users</a>
                                    <a class="btn btn-primary" href="../Group" role="button">Manage Groups</a>
                                    <a class="btn btn-primary" href="../Folder" role="button">Manage Folders</a>
                                    <a class="btn btn-primary" href="../Record" role="button">Manage Records</a>
                                    <a class="btn btn-primary" href="#" role="button">Messages History</a>
                                    <a class="btn btn-primary" href="../Manage/ChangePassword" role="button">Settings</a>
                                    <a class="btn btn-primary" href="#" role="button">Privilleges Area</a>
                                </div>*@
                                <!-- COMPANY LOGO -->
                                <a href="/Home">
                                    <img style="float:right" src="~/img/CertiPowerLogo.PNG" alt="Cloud Admin Logo" class="img-responsive" height="150" width="100">

                                </a>


                                <!-- /COMPANY LOGO -->
                               
                                <!-- /BREADCRUMBS -->
                                <div class="clearfix">
                                    @if (ViewContext.RouteData.Values["controller"].ToString() == "Home")
                                    {
                                        <h3 class="content-title pull-left">Welcome to Certipower</h3>
                                    }
                                    else
                                    {
                                        <h3 class="content-title pull-left">@ViewBag.Title</h3>
                                    }

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row" ng-app="genericModule">
                        <div class="col-sm-12">
                            @*<div class="divWaiting showNone" id="divLoader">
                                    <div class="pace-demo">
                                        <div class="theme_tail_circle"><div class="pace_progress" data-progress-text="60%" data-progress="60"></div><div class="pace_activity"></div></div>
                                    </div>
                                </div>*@

                            @RenderBody()
                            <hr />
                            <footer></footer>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>

    @RenderSection("scripts", required: false)
    <script>
		jQuery(document).ready(function() {
			App.setPage("index");  //Set current page
			App.init(); //Initialise plugins and elements
		});
    </script>
</body>
</html>