﻿<div id="sidebar" class="sidebar">
    <div class="sidebar-menu nav-collapse">
        <div class="divide-20"></div>
        <!-- SEARCH BAR -->
        <div id="search-bar">
            <input class="search" type="text" placeholder="Search"><i class="fa fa-search search-icon"></i>
        </div>
        <ul>
            <li class="active">
                <a href="/Home">
                    <i class="fa fa-tachometer fa-fw"></i> <span class="menu-text">Dashboard</span>
                    <span class="selected"></span>
                </a>
            </li>
            @if (User.IsInRole("Admin"))
            {
                <li class="has-sub">
                    <a href="javascript:;" class="">
                        <i class="fa fa-bookmark-o fa-fw"></i> <span class="menu-text">Oragnizations</span>
                        <span class="arrow"></span>
                    </a>
                    <ul class="sub" style="display:block;">
                        <li><a class="" href="/Organization"><span class="sub-menu-text">Manage Organizations</span></a></li>
                    </ul>
                </li>
                @*}
                    @if (User.IsInRole("Admin"))
                    {*@
                <li class="has-sub">
                    <a href="javascript:;" class="">
                        <i class="fa fa-bookmark-o fa-fw"></i> <span class="menu-text">Institutes</span>
                        <span class="arrow"></span>
                    </a>
                    <ul class="sub" style="display:block;">
                        <li><a class="" href="/Institute"><span class="sub-menu-text">Manage Institutes</span></a></li>
                    </ul>
                </li>

                <li class="has-sub">
                    <a href="javascript:;" class="">
                        <i class="fa fa-bookmark-o fa-fw"></i> <span class="menu-text">Agreements</span>
                        <span class="arrow"></span>
                    </a>
                    <ul class="sub" style="display:block;">
                        <li><a class="" href="/Agreement"><span class="sub-menu-text">Manage Agreements</span></a></li>
                    </ul>
                </li>
                <li class="has-sub">
                    <a href="javascript:;" class="">
                        <i class="fa fa-bookmark-o fa-fw"></i> <span class="menu-text">Commission</span>
                        <span class="arrow"></span>
                    </a>
                    <ul class="sub" style="display:block;">
                        <li><a class="" href="#"><span class="sub-menu-text">Manage Commission</span></a></li>
                    </ul>
                </li>
            }
            <li class="has-sub">
                <a href="javascript:;" class="">
                    <i class="fa fa-bookmark-o fa-fw"></i> <span class="menu-text">Manage Users</span>
                    <span class="arrow"></span>
                </a>
                <ul class="sub" style="display:block;">
                    <li><a class="" href="/User"><span class="sub-menu-text">Users</span></a></li>
                </ul>
            </li>
            <li class="has-sub">
                <a href="javascript:;" class="">
                    <i class="fa fa-bookmark-o fa-fw"></i> <span class="menu-text">Manage Groups</span>
                    <span class="arrow"></span>
                </a>
                <ul class="sub" style="display:block;">
                    <li><a class="" href="/Group"><span class="sub-menu-text">Groups</span></a></li>
                </ul>
            </li>
            <li class="has-sub">
                <a href="javascript:;" class="">
                    <i class="fa fa-bookmark-o fa-fw"></i> <span class="menu-text">Manage Folders</span>
                    <span class="arrow"></span>
                </a>
                <ul class="sub" style="display:block;">
                    <li><a class="" href="/Folder"><span class="sub-menu-text">Folders</span></a></li>
                </ul>
            </li>
            <li class="has-sub">
                <a href="javascript:;" class="">
                    <i class="fa fa-bookmark-o fa-fw"></i> <span class="menu-text">Record</span>
                    <span class="arrow"></span>
                </a>
                <ul class="sub" style="display:block;">
                    <li><a class="" href="/Record"><span class="sub-menu-text">Manage Record</span></a></li>
                </ul>
            </li>
            @if (User.IsInRole("Admin") || User.IsInRole("Financier"))
            {
                <li class="has-sub">
                    <a href="javascript:;" class="">
                        <i class="fa fa-bookmark-o fa-fw"></i> <span class="menu-text"> Finances</span>
                        <span class="arrow"></span>
                    </a>
                    <ul class="sub" style="display:block;">

                        <li><a class="" href="#"><span class="sub-menu-text">Manage Finances</span></a></li>

                    </ul>
                </li>
            }
            @if (User.IsInRole("Admin") || User.IsInRole("Organization") || User.IsInRole("Institute"))
            {
                <li class="has-sub">
                    <a href="javascript:;" class="">
                        <i class="fa fa-bookmark-o fa-fw"></i> <span class="menu-text"> My Agreements</span>
                        <span class="arrow"></span>
                    </a>
                    <ul class="sub" style="display:block;">
                        <li><a class="" href="~/Agreement/AgreementStudents"><span class="sub-menu-text">Manage Agreements</span></a></li>
                    </ul>
                </li>
            }
            @if (User.IsInRole("Admin"))
            {
                <li class="has-sub">
                    <a href="javascript:;" class="">
                        <i class="fa fa-bookmark-o fa-fw"></i> <span class="menu-text"> Settings</span>
                        <span class="arrow"></span>
                    </a>
                    <ul class="sub" style="display:block;">
                        <li><a class="" href="../Manage/ChangePassword"><span class="sub-menu-text">Manage Settings</span></a></li>
                    </ul>
                </li>
            }
            
        </ul>


        <!-- /SIDEBAR MENU -->
    </div>
</div>
<script>
    $(document).ready(function () {
        $(".has-sub").addClass("open");
    });
</script>