﻿@{
    if (User.Identity.IsAuthenticated)
    {

    }
    else
    {
        Response.Redirect("/Account/Login");
    }
    DAL.FetchOrganizationDetail_Result org = new Account().FetchOrganization();
}
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - @org.OrganizationName</title>
    @Styles.Render("~/OrgShared/css")
    @Scripts.Render("~/OrgShared/js")
    <link href="~/assets/css/icons/fontawesome/styles.min.css" rel="stylesheet" />

</head>
<body>
    <div class="navbar navbar-inverse">
        <div class="navbar-header">
            <a class="navbar-brand" href="/Home"><i class="icon-office"></i> @org.OrganizationName</a>
            <ul class="nav navbar-nav pull-right visible-xs-block">
                <li><a data-toggle="collapse" data-target="#navbar-mobile"><i class="icon-tree5"></i></a></li>
            </ul>
        </div>
        <div class="navbar-collapse collapse" id="navbar-mobile">
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <i class="icon-git-compare"></i>
                        <span class="visible-xs-inline-block position-right"></span>
                        <span class="badge bg-warning-400" id="notificationCount"></span>
                    </a>

                    <div class="dropdown-menu dropdown-content">
                        <div class="dropdown-content-heading">
                            Notifications
                        </div>
                        <ul class="media-list dropdown-content-body width-450" id="notificationList">
                            @if (User.IsInRole("CEO") || User.IsInRole("Admin") || User.IsInRole("Account"))
                            {
                                <li class="media" id="PurchaseOrderStatusCount">
                                    <div class="media-left">
                                        <a href="/CEO/PurchaseAccountListing" class="btn border-primary text-primary btn-flat btn-rounded btn-icon btn-sm"><i class="icon-git-pull-request"></i></a>
                                        <a href="/CEO/PurchaseAccountListing" class="btn text-primary btn-flat  btn-icon btn-sm">
                                            <span class="PurchaseOrderStatusCount"></span> Purchase order(s) are ready to process.
                                        </a>
                                    </div>
                                </li>
                                <li class="media" id="SaleOrderStatusCount">
                                    <div class="media-left">
                                        <a href="/AcSale" class="btn border-warning text-warning btn-flat btn-rounded btn-icon btn-sm"><i class="icon-git-commit"></i></a>
                                        <a href="/AcSale" class="btn text-primary btn-flat  btn-icon btn-sm">
                                            <span class="SaleOrderStatusCount"></span> Sale order(s) are ready to process.
                                        </a>
                                    </div>
                                </li>
                            }
                            @if (User.IsInRole("CEO") || User.IsInRole("Admin"))
                            {
                                <li class="media" id="CEOPurchaseOrderStatusCount">
                                    <div class="media-left">
                                        <a href="/CEO/PurchaseOrder" class="btn border-info text-info btn-flat btn-rounded btn-icon btn-sm"><i class="icon-git-branch"></i></a>
                                        <a href="/CEO/PurchaseOrder" class="btn text-primary btn-flat  btn-icon btn-sm">
                                            <span class="CEOPurchaseOrderStatusCount"></span> Purchase order(s) need approval.
                                        </a>
                                    </div>
                                </li>
                                <li class="media" id="CEOSaleOrderStatusCount">
                                    <div class="media-left">
                                        <a href="/CEO" class="btn border-success text-success btn-flat btn-rounded btn-icon btn-sm"><i class="icon-git-merge"></i></a>
                                        <a href="/CEO" class="btn text-primary btn-flat  btn-icon btn-sm">
                                            <span class="CEOSaleOrderStatusCount"></span> Sale order(s) need approval.
                                        </a>
                                    </div>
                                </li>
                            }
                            @if (User.IsInRole("CEO") || User.IsInRole("Admin") || User.IsInRole("RawMaterial"))
                            {
                                <li class="media" id="spRMRequsetIn">
                                    <div class="media-left">
                                        <a href="/RawMaterial/ManufactureRequest" class="btn border-primary text-primary btn-flat btn-rounded btn-icon btn-sm"><i class="icon-git-pull-request"></i></a>
                                        <a href="/RawMaterial/ManufactureRequest" class="btn text-primary btn-flat  btn-icon btn-sm">
                                            <span class="spRMRequsetIn"></span> raw material purchase requests are pending.
                                        </a>
                                    </div>
                                </li>
                                <li class="media" id="spRMRequsetInRm">
                                    <div class="media-left">
                                        <a href="/RawMaterial/ReOrderMaterial" class="btn border-primary text-primary btn-flat btn-rounded btn-icon btn-sm"><i class="icon-git-pull-request"></i></a>
                                        <a href="/RawMaterial/ReOrderMaterial" class="btn text-primary btn-flat  btn-icon btn-sm">
                                            <span class="spRMRequsetInRm"></span> raw materials need to be re ordered.
                                        </a>
                                    </div>
                                </li>
                            }
                            @if (User.IsInRole("CEO") || User.IsInRole("Admin") || User.IsInRole("Manufacture"))
                            {
                                <li class="media" id="MRequestInCount">
                                    <div class="media-left">
                                        <a href="/Manufacture" class="btn border-primary text-primary btn-flat btn-rounded btn-icon btn-sm"><i class="icon-git-pull-request"></i></a>
                                        <a href="/Manufacture" class="btn text-primary btn-flat  btn-icon btn-sm">
                                            <span class="MRequestInCount"></span> raw material requests are pending.
                                        </a>
                                    </div>
                                </li>
                            }
                        </ul>
                        <div class="dropdown-content-footer">
                            @*<a href="#" data-popup="tooltip" title="All activity"><i class="icon-menu display-block"></i></a>*@
                        </div>
                    </div>
                </li>

            </ul>
            <ul class="nav navbar-nav navbar-right">

                <li class="dropdown dropdown-user">
                    <a class="dropdown-toggle" data-toggle="dropdown">
                        <span class="user-info">
                            <small>Welcome,</small>
                            @org.OrganizationName
                        </span>
                        <i class="caret"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-right">
                        <li><a href="/Manage/ChangePassword"><i class="icon-cog"></i> Change Password</a></li>
                        @if (User.IsInRole("Admin") || User.IsInRole("CEO"))
                        {
                            <li><a href="/Manage/Setting"><i class="icon-wrench"></i> Settings</a></li>

                            <li><a href="/Company/CompanyProfile"><i class="icon-wrench"></i> Profile</a></li>
                        }

                        <li><a href="/Account/LogOff"><i class="icon-switch"></i> Logout</a></li>
                    </ul>
                </li>
            </ul>
        </div>

    </div>

    
    @*<div class="page-header">
        <div class="page-header-content">
            <div class="page-title">
                <h4>
                    <i class="icon-arrow-left52 position-left"></i>
                    <span class="text-semibold">@ViewBag.Title</span>
                </h4>
                <ul class="breadcrumb breadcrumb-caret position-right">

                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    @if (ViewContext.RouteData.Values["controller"].ToString() != "Home")
                    {
                        <li>@Html.ActionLink(ViewContext.RouteData.Values["controller"].ToString(), "Index", ViewContext.RouteData.Values["controller"].ToString())</li>
                    }
                    @if (ViewContext.RouteData.Values["action"].ToString() != "Index")
                    {
                        <li class="active">@ViewContext.RouteData.Values["action"].ToString()</li>
                    }
                </ul>
            </div>
        </div>
    </div>*@
    <div class="page-container">
        <div class="page-content">
            @Html.Partial("_OrgLeftPanel")
            <div class="content-wrapper" ng-app="genericModule">
                <div class="divWaiting showNone" id="divLoader">
                    <div class="pace-demo">
                        <div class="theme_tail_circle"><div class="pace_progress" data-progress-text="60%" data-progress="60"></div><div class="pace_activity"></div></div>
                    </div>
                </div>
                <input type="hidden" id="accountCode" />
                <input type="hidden" id="productSKU" />
                @RenderBody()
                <hr />
                <footer></footer>
            </div>
        </div>
    </div>


    @RenderSection("scripts", required: false)
</body>
</html>
