﻿<div class="sidebar sidebar-main">
    <div class="sidebar-content">
        <!-- Main navigation -->
        <div class="sidebar-category sidebar-category-visible">
            <div class="category-title h6">
                <span>Main sidebar</span>
                <ul class="icons-list">
                    <li><a href="#" data-action="collapse"></a></li>
                </ul>
            </div>
            <div class="category-content sidebar-user">
                <div class="media">
                    <a href="#" class="media-left"><img src="assets/images/placeholder.jpg" class="img-circle img-sm" alt=""></a>
                    <div class="media-body">
                        <span class="media-heading text-semibold">Victoria Baker</span>
                        <div class="text-size-mini text-muted">
                            <i class="icon-pin text-size-small"></i> &nbsp;Santa Ana, CA
                        </div>
                    </div>
                    <div class="media-right media-middle">
                        <ul class="icons-list">
                            <li>
                                <a href="#"><i class="icon-cog3"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="category-content no-padding">
                <ul class="navigation navigation-main navigation-accordion">
                    <!-- Main -->
                    <li class="navigation-header"><span>Main</span> <i class="icon-menu" title="Main pages"></i></li>
                    <li><a href="index.html"><i class="icon-home4"></i> <span>Dashboard</span></a></li>
                    <li>
                        <a href="#"><i class="icon-stack2"></i> <span>Page layouts</span></a>
                        <ul>
                            <li><a href="layout_navbar_fixed.html">Fixed navbar</a></li>
                            <li><a href="layout_navbar_hideable.html">Hideable navbar</a></li>
                            <li><a href="layout_sidebar_sticky_custom.html">Sticky sidebar (custom scroll)</a></li>
                            <li><a href="layout_sidebar_sticky_native.html">Sticky sidebar (native scroll)</a></li>
                            <li><a href="layout_footer_fixed.html">Fixed footer</a></li>
                            <li class="navigation-divider"></li>
                            <li><a href="boxed_default.html">Boxed with default sidebar</a></li>
                            <li><a href="boxed_mini.html">Boxed with mini sidebar</a></li>
                            <li><a href="boxed_full.html">Boxed full width</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#"><i class="icon-copy"></i> <span>Layouts</span></a>
                        <ul>
                            <li><a href="../../layout_1/LTR/index.html" id="layout1">Layout 1</a></li>
                            <li><a href="../../layout_2/LTR/index.html" id="layout2">Layout 2</a></li>
                            <li><a href="../../layout_3/LTR/index.html" id="layout3">Layout 3</a></li>
                            <li><a href="index.html" id="layout4">Layout 4 <span class="label bg-warning-400">Current</span></a></li>
                            <li class="disabled"><a href="../../layout_5/LTR/index.html" id="layout5">Layout 5 <span class="label bg-slate-800">Coming soon</span></a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#"><i class="icon-stack"></i> <span>Starter kit</span></a>
                        <ul>
                            <li><a href="starters/horizontal_nav.html">Horizontal navigation</a></li>
                            <li><a href="starters/1_col.html">1 column</a></li>
                            <li><a href="starters/2_col.html">2 columns</a></li>
                            <li>
                                <a href="#">3 columns</a>
                                <ul>
                                    <li><a href="starters/3_col_dual.html">Dual sidebars</a></li>
                                    <li><a href="starters/3_col_double.html">Double sidebars</a></li>
                                </ul>
                            </li>
                            <li><a href="starters/4_col.html">4 columns</a></li>
                            <li><a href="starters/layout_boxed.html">Boxed layout</a></li>
                            <li class="navigation-divider"></li>
                            <li><a href="starters/layout_navbar_fixed_main.html">Fixed main navbar</a></li>
                            <li><a href="starters/layout_navbar_fixed_secondary.html">Fixed secondary navbar</a></li>
                            <li><a href="starters/layout_navbar_fixed_both.html">Both navbars fixed</a></li>
                            <li><a href="starters/layout_sidebar_sticky.html">Sticky sidebar</a></li>
                        </ul>
                    </li>
                    <li><a href="changelog.html"><i class="icon-list-unordered"></i> <span>Changelog</span></a></li>
                    <!-- /main -->
                    <!-- Layout -->
                    <li class="navigation-header"><span>Layout</span> <i class="icon-menu" title="Layout options"></i></li>
                    <li>
                        <a href="#"><i class="icon-indent-decrease2"></i> <span>Sidebars</span></a>
                        <ul>
                            <li><a href="sidebar_default_collapse.html">Default collapsible</a></li>
                            <li><a href="sidebar_default_hide.html">Default hideable</a></li>
                            <li><a href="sidebar_mini_collapse.html">Mini collapsible</a></li>
                            <li><a href="sidebar_mini_hide.html">Mini hideable</a></li>
                            <li>
                                <a href="#">Dual sidebar</a>
                                <ul>
                                    <li><a href="sidebar_dual.html">Dual sidebar</a></li>
                                    <li><a href="sidebar_dual_double_collapse.html">Dual double collapse</a></li>
                                    <li><a href="sidebar_dual_double_hide.html">Dual double hide</a></li>
                                    <li><a href="sidebar_dual_swap.html">Swap sidebars</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="#">Double sidebar</a>
                                <ul>
                                    <li><a href="sidebar_double_collapse.html">Collapse main sidebar</a></li>
                                    <li><a href="sidebar_double_hide.html">Hide main sidebar</a></li>
                                    <li><a href="sidebar_double_fix_default.html">Fix default width</a></li>
                                    <li><a href="sidebar_double_fix_mini.html">Fix mini width</a></li>
                                    <li><a href="sidebar_double_visible.html">Opposite sidebar visible</a></li>
                                </ul>
                            </li>
                            <li><a href="sidebar_categories.html">Separate categories</a></li>
                            <li><a href="sidebar_hidden.html">Hidden sidebar</a></li>
                            <li class="active"><a href="sidebar_dark.html">Dark sidebar</a></li>
                            <li><a href="sidebar_components.html">Sidebar components</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#"><i class="icon-sort"></i> <span>Vertical navigation</span></a>
                        <ul>
                            <li><a href="navigation_vertical_collapsible.html">Collapsible menu</a></li>
                            <li><a href="navigation_vertical_accordion.html">Accordion menu</a></li>
                            <li><a href="navigation_vertical_sizing.html">Navigation sizing</a></li>
                            <li><a href="navigation_vertical_bordered.html">Bordered navigation</a></li>
                            <li><a href="navigation_vertical_right_icons.html">Right icons</a></li>
                            <li><a href="navigation_vertical_disabled.html">Disabled navigation links</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#"><i class="icon-transmission"></i> <span>Horizontal navigation</span></a>
                        <ul>
                            <li><a href="navigation_horizontal_click.html">Submenu on click</a></li>
                            <li><a href="navigation_horizontal_hover.html">Submenu on hover</a></li>
                            <li><a href="navigation_horizontal_elements.html">With custom elements</a></li>
                            <li><a href="navigation_horizontal_tabs.html">Tabbed navigation</a></li>
                            <li><a href="navigation_horizontal_disabled.html">Disabled navigation links</a></li>
                            <li><a href="navigation_horizontal_mega.html">Horizontal mega menu</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#"><i class="icon-menu3"></i> <span>Navbars</span></a>
                        <ul>
                            <li><a href="navbar_single.html">Single navbar</a></li>
                            <li>
                                <a href="#">Multiple navbars</a>
                                <ul>
                                    <li><a href="navbar_multiple_navbar_navbar.html">Navbar + navbar</a></li>
                                    <li><a href="navbar_multiple_header_navbar.html">Header + navbar</a></li>
                                    <li><a href="navbar_multiple_navbar_content.html">Navbar + content</a></li>
                                    <li><a href="navbar_multiple_top_bottom.html">Top + bottom</a></li>
                                </ul>
                            </li>
                            <li><a href="navbar_colors.html">Color options</a></li>
                            <li><a href="navbar_sizes.html">Sizing options</a></li>
                            <li><a href="navbar_hideable.html">Hide on scroll</a></li>
                            <li><a href="navbar_components.html">Navbar components</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#"><i class="icon-tree5"></i> <span>Menu levels</span></a>
                        <ul>
                            <li><a href="#"><i class="icon-IE"></i> Second level</a></li>
                            <li>
                                <a href="#"><i class="icon-firefox"></i> Second level with child</a>
                                <ul>
                                    <li><a href="#"><i class="icon-android"></i> Third level</a></li>
                                    <li>
                                        <a href="#"><i class="icon-apple2"></i> Third level with child</a>
                                        <ul>
                                            <li><a href="#"><i class="icon-html5"></i> Fourth level</a></li>
                                            <li><a href="#"><i class="icon-css3"></i> Fourth level</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="#"><i class="icon-windows"></i> Third level</a></li>
                                </ul>
                            </li>
                            <li><a href="#"><i class="icon-chrome"></i> Second level</a></li>
                        </ul>
                    </li>
                    <!-- /layout -->
                    <!-- Page kits -->
                    <li class="navigation-header"><span>Page kits</span> <i class="icon-menu" title="Page kits"></i></li>
                    <li>
                        <a href="#"><i class="icon-task"></i> <span>Task manager</span></a>
                        <ul>
                            <li><a href="task_manager_grid.html">Task grid</a></li>
                            <li><a href="task_manager_list.html">Task list</a></li>
                            <li><a href="task_manager_detailed.html">Task detailed</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#"><i class="icon-cash3"></i> <span>Invoicing</span></a>
                        <ul>
                            <li><a href="invoice_template.html">Invoice template</a></li>
                            <li><a href="invoice_grid.html">Invoice grid</a></li>
                            <li><a href="invoice_archive.html">Invoice archive</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#"><i class="icon-people"></i> <span>User pages</span></a>
                        <ul>
                            <li><a href="user_pages_cards.html">User cards</a></li>
                            <li><a href="user_pages_list.html">User list</a></li>
                            <li><a href="user_pages_profile.html">Simple profile</a></li>
                            <li><a href="user_pages_profile_cover.html">Profile with cover</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#"><i class="icon-user-plus"></i> <span>Login &amp; registration</span></a>
                        <ul>
                            <li><a href="login_simple.html">Simple login</a></li>
                            <li><a href="login_advanced.html">More login info</a></li>
                            <li><a href="login_registration.html">Simple registration</a></li>
                            <li><a href="login_registration_advanced.html">More registration info</a></li>
                            <li><a href="login_unlock.html">Unlock user</a></li>
                            <li><a href="login_password_recover.html">Reset password</a></li>
                            <li><a href="login_hide_navbar.html">Hide navbar</a></li>
                            <li><a href="login_transparent.html">Transparent box</a></li>
                            <li><a href="http://ow.ly/XqzNo">Background option</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#"><i class="icon-magazine"></i> <span>Timelines</span></a>
                        <ul>
                            <li><a href="timelines_left.html">Left timeline</a></li>
                            <li><a href="timelines_right.html">Right timeline</a></li>
                            <li><a href="timelines_center.html">Centered timeline</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#"><i class="icon-lifebuoy"></i> <span>Support</span></a>
                        <ul>
                            <li><a href="support_conversation_layouts.html">Conversation layouts</a></li>
                            <li><a href="support_conversation_options.html">Conversation options</a></li>
                            <li><a href="support_knowledgebase.html">Knowledgebase</a></li>
                            <li><a href="support_faq.html">FAQ page</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#"><i class="icon-search4"></i> <span>Search</span></a>
                        <ul>
                            <li><a href="search_basic.html">Basic search results</a></li>
                            <li><a href="search_users.html">User search results</a></li>
                            <li><a href="search_images.html">Image search results</a></li>
                            <li><a href="search_videos.html">Video search results</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#"><i class="icon-images2"></i> <span>Gallery</span></a>
                        <ul>
                            <li><a href="gallery_grid.html">Media grid</a></li>
                            <li><a href="gallery_titles.html">Media with titles</a></li>
                            <li><a href="gallery_description.html">Media with description</a></li>
                            <li><a href="gallery_library.html">Media library</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#"><i class="icon-warning"></i> <span>Error pages</span></a>
                        <ul>
                            <li><a href="error_403.html">Error 403</a></li>
                            <li><a href="error_404.html">Error 404</a></li>
                            <li><a href="error_405.html">Error 405</a></li>
                            <li><a href="error_500.html">Error 500</a></li>
                            <li><a href="error_503.html">Error 503</a></li>
                            <li><a href="error_offline.html">Offline page</a></li>
                        </ul>
                    </li>
                    <!-- /page kits -->
                </ul>
            </div>
        </div>
        <!-- /main navigation -->
    </div>
</div>