﻿@model DAL.Record
<script src="~/Angular/Record.js"></script>
<link href="~/js/jquery-ui-1.10.3.custom/css/custom-theme/jquery-ui-1.10.3.custom.min.css" rel="stylesheet" />
<div id="RecordModal" class="modal fade" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Manage Record</h4>
            </div>
            <div class="modal-body clearfix">
                @using (Html.BeginForm("Save", "Record", FormMethod.Post, new { role = "form", enctype = "multipart/form-data", encoding = "multipart/form-data" }))
                {
                    @Html.HiddenFor(s => s.Id)
                    <div class="form-group">
                        <label for="AgreedActionText">Folder<span style="color:red"> *</span></label>
                        @Html.DropDownListFor(p => p.FolderId, new SelectList(new BLL.ManageFolder().FetchFolder(new Account().FetchOrganization().OrganizationId), "ID", "Name"), "Please Select", new { @class = "form-control", @required="required" })
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-sm-6">
                                <label for="AgreedActionText">File Name</label>
                                @*@Html.TextBoxFor(p => p.OriginalFileName,new { @class="form-control",@name= "postedFiles",type="file", accept = ".doc,.pdf,.xls,.xlsx" })*@
                                <input type="file" accept=".doc,.docx,.pdf,.xls,.xlsx" name="postedFiles" id="file" maxlength="100" value="" class="form-control" />
                                @Html.HiddenFor(s => s.FileName)
                                @Html.HiddenFor(s => s.OriginalFileName)
                            </div>
                            <div class="col-sm-6">
                                <br />
                                <a href="@Url.Action("DownLoadFile","Record",new {file = Model.FileName })">@Model.OriginalFileName</a>
                            </div>
                        </div>
                        
                    </div>
                    <div class="form-group">
                        <label for="AgreedActionText">File Description</label>
                        @Html.TextAreaFor(p => p.FileDescription,new { @class="form-control"})
                        @*<textarea ng-model="depart.FileDescription" name="txtname" maxlength="100" value="" class="form-control"></textarea>*@
                    </div>
                    <div class="form-group">
                        <label for="AgreedActionText">Invoice Amount<span style="color:red"> *</span></label>
                        @*<input type="text" ng-model="depart.InvoiceAmount" name="txtname" maxlength="100" value="" class="form-control number" required />*@
                        @Html.TextBoxFor(p => p.InvoiceAmount,new { @class="form-control", @required = "required" })
                    </div>
                    <div class="form-group">
                        <label for="AgreedActionText">Receive From</label>
                        @Html.TextBoxFor(p => p.ReceiveFrom, new { @class = "form-control", @required = "required" })
                    </div>
                    <div class="form-group">
                        <label for="AgreedActionText">Sent To</label>
                        @Html.TextBoxFor(p => p.SentTo, new { @class = "form-control", @required = "required" })
                    </div>
                    <div class="form-group">
                        <label for="AgreedActionText">Priority<span style="color:red"> *</span></label>
                        @Html.DropDownListFor(p => p.Priority, new SelectList(new BLL.GenericMethods().FetchPriority(), "Name", "Name"), "Please Select", new { @class = "form-control" })
                    </div>
                    <div class="form-group">
                        <div class="pull-right">
                            <input type="submit" name="name" value="Save" class="btn btn-success" />
                            <a class="btn btn-sm btn-success" data-dismiss="modal"><i class="fa fa-crosshairs"></i> Close</a>
                        </div>
                    </div>
                }
               
            </div>
        </div>
    </div>
</div>
