﻿
@{
    ViewBag.Title = "Manage Record";
}

@Scripts.Render("~/AngularJsGrid/jquery")

<div class="row" ng-controller="RecordCTRL">
    <div class="col-sm-12">
        <div class="form-group">
            <div class="row">
                <div class="col-sm-12">
                   @if (TempData["Error"] != null)
                   {
                    <div class="alert alert-danger">
                        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                        <strong>Error!</strong> @TempData["Error"]
                    </div>
                   }
                </div>
            </div>
        </div>
        <div class="form-group">

            <div class="panel">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-2">
                            File Name
                            <input type="text" ng-model="departSearch.Name" class="form-control" />
                        </div>
                        <div class="col-sm-2">
                            Folder
                            <select ng-model="departSearch.FolderId" class="form-control">
                                <option value="">All</option>
                                <option ng-repeat="x in searchFolder" value="{{x.Id}}">{{x.Name}}</option>
                            </select>
                        </div>
                        <div class="col-sm-1">
                            <br />
                            <button class="btn btn-success" ng-click="Search();"><i class="fa fa-search"></i> Search</button>
                        </div>
                        <div class="col-sm-7">
                            <br />
                            <a ng-click="DepartmentOpenModel();" class="pull-right btn btn-primary"><i class="fa fa-plus"></i> Add Record</a>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div class="form-group">
            <div class="row">
                <div class="col-sm-12">
                    <div id="recordGrid"></div>
                </div>

            </div>
        </div>
        <div id="dvRecordDetail">
            @Html.Partial("_Record")
        </div>
    </div>

</div>


