﻿<script src="~/Angular/Folder.js"></script>
<div id="FolderModal" class="modal fade" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header success">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">{{heading}} Folder</h4>
            </div>
            <div class="modal-body clearfix">
                <form name="myform">

                    <div class="form-group">
                        <input type="hidden" name="name" ng-model="ID" />
                        <label for="AgreedActionText">Name<span style="color:red"> *</span></label>
                        <input type="text" ng-model="depart.Name" name="txtname" maxlength="100" value="" class="form-control" required />
                    </div>
                    <div class="form-group">
                        <label>Description</label>
                        <textarea rows="3" ng-model="depart.Description" maxlength="500" class="form-control"></textarea>
                    </div>
                    <div class="form-group">
                        <input type="checkbox" class="checkbox-inline mb-5 mr-10" ng-model="depart.IsActive" value="Active" /> <label>Active</label>
                    </div>
                    <div class="form-group">
                        <div class="pull-right">
                            <button class="btn btn-sm btn-success" ng-click="myform.$valid && DepartmentSave()"><i class="fa fa-save"></i> Save</button>
                            <a class="btn btn-sm btn-success" data-dismiss="modal"><i class="fa fa-crosshairs"></i> Close</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>