﻿
@{
    ViewBag.Title = "Manage Folder";
}

@Scripts.Render("~/AngularJsGrid/jquery")

<div class="row" ng-controller="FolderCTRL">
    <div class="col-sm-12">
        <div class="form-group">

            <div class="panel">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-2">
                            Name
                            <input type="text" ng-model="departSearch.Name" class="form-control" />
                        </div>
                        <div class="col-sm-2">
                            Status
                            <select ng-model="departSearch.Status" class="form-control">
                                <option value="">All</option>
                                <option value="1">Active</option>
                                <option value="0">In-Active</option>
                            </select>
                        </div>
                        <div class="col-sm-1">
                            <br />
                            <button class="btn btn-success" ng-click="Search();"><i class="fa fa-search"></i> Search</button>
                        </div>
                        <div class="col-sm-7">
                            <br />
                            <a data-toggle="modal" ng-click="DepartmentOpenModel();" class="pull-right btn btn-primary"><i class="fa fa-plus"></i> Add Folder</a>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div class="form-group">
            <div class="row">
                <div class="col-sm-12">
                    <div id="folderGrid"></div>
                </div>
            </div>
        </div>
        @Html.Partial("_Folder")
    </div>
</div>
