﻿
@{
    ViewBag.Title = "Manage Organization";
}
@Scripts.Render("~/AngularJsGrid/jquery")
<script src="~/Angular/Organization.js"></script>
<div class="row" ng-controller="organizationCTRL">
    <div class="col-sm-12">
        <div class="form-group">

            <div class="panel">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-2">
                            Name
                            <input type="text" ng-model="departSearch.Name" class="form-control" />
                        </div>
                        <div class="col-sm-1">
                            <br />
                            <button class="btn btn-success" ng-click="Search();"><i class="fa fa-search"></i> Search</button>
                        </div>
                        <div class="col-sm-9">
                            <br />
                            <a href="/Organization/NewOrganization" class="pull-right btn btn-primary"><i class="fa fa-plus"></i> Add Organization</a>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div class="form-group">
            <div class="row">
                <div class="col-sm-12">
                    <div id="organizationGrid"></div>
                </div>
            </div>
        </div>
    </div>

</div>

