﻿@model DAL.Organization
@{
    ViewBag.Title = "Add Organization";
}
@Scripts.Render("~/AngularJsGrid/jquery")
<link href="~/js/jquery-ui-1.10.3.custom/css/custom-theme/jquery-ui-1.10.3.custom.min.css" rel="stylesheet" />
<link href="~/js/bootstrap-switch/bootstrap-switch.css" rel="stylesheet" />
<script src="~/js/bootstrap-switch/bootstrap-switch.js"></script>
<div class="row">
    <div class="col-sm-12">
        <div class="panel">
            <div class="panel-body clearfix">
                @using (Html.BeginForm("NewOrganization", "Organization", FormMethod.Post, new { }))
                {
                    <div class="form-group">
                        <div class="row">
                            <div class="col-sm-6">
                                Organization Name
                                @Html.TextBoxFor(s => s.OrganizationName, new { @class = "form-control", @required = "required" })
                                @Html.HiddenFor(s => s.Id)
                                @Html.ValidationMessageFor(s => s.OrganizationName)
                            </div>
                            <div class="col-sm-6">
                                Organization Type
                                @Html.DropDownListFor(p => p.OrganizationType, new SelectList(new BLL.GenericMethods().FetchOrganziationType(), "Name", "Name"), "Please Select", new { @class = "form-control", @required = "required" })
                                @Html.ValidationMessageFor(s => s.OrganizationType)
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-sm-6">
                                Organization Size
                                @Html.TextBoxFor(s => s.OrganizationSize, new { @class = "form-control", @required = "required" })
                                @Html.ValidationMessageFor(s => s.OrganizationSize)
                            </div>
                            <div class="col-sm-6">
                                Commercial Record #
                                @Html.TextBoxFor(s => s.CommercialRecordNo, new { @class = "form-control", @required = "required" })
                                @Html.ValidationMessageFor(s => s.CommercialRecordNo)
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-sm-6">
                                Establish Date
                                @Html.TextBoxFor(s => s.EstablishDate,"{0:MM/dd/yyyy}", new { @class = "form-control datepicker", @required = "required" })
                                @Html.ValidationMessageFor(s => s.EstablishDate)
                            </div>
                            <div class="col-sm-6">
                                Commercial Record Expiry Date
                                @Html.TextBoxFor(s => s.CommercialRecordExpiryDate, "{0:MM/dd/yyyy}", new { @class = "form-control datepicker", @required = "required" })
                                @Html.ValidationMessageFor(s => s.CommercialRecordExpiryDate)
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-sm-6">
                                Issuing Authority
                                @Html.TextBoxFor(s => s.IssuingAuthority, new { @class = "form-control", @required = "required" })
                                @Html.ValidationMessageFor(s => s.IssuingAuthority)
                            </div>
                            <div class="col-sm-6">
                                Bank Name
                                @Html.TextBoxFor(s => s.BankName, new { @class = "form-control", @required = "required" })
                                @Html.ValidationMessageFor(s => s.BankName)
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-sm-6">
                                IBAN
                                @Html.TextBoxFor(s => s.IBAN, new { @class = "form-control", @required = "required" })
                                @Html.ValidationMessageFor(s => s.IBAN)
                            </div>
                            <div class="col-sm-6">
                                Bank Account Detail Letter
                                @Html.TextBoxFor(s => s.BankAccountDetailLetter, new { @class = "form-control", @required = "required" })
                                @Html.ValidationMessageFor(s => s.BankAccountDetailLetter)
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-sm-6">
                                Address Street Area
                                @Html.TextBoxFor(s => s.AddressStreetArea, new { @class = "form-control", @required = "required" })
                                @Html.ValidationMessageFor(s => s.AddressStreetArea)
                            </div>
                            <div class="col-sm-6">
                                Po Box
                                @Html.TextBoxFor(s => s.POBox, new { @class = "form-control", @required = "required" })
                                @Html.ValidationMessageFor(s => s.POBox)
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-sm-6">
                                Telephone
                                @Html.TextBoxFor(s => s.Telephone, new { @class = "form-control", @required = "required" })
                                @Html.ValidationMessageFor(s => s.Telephone)
                            </div>
                            <div class="col-sm-6">
                                Zip Code
                                @Html.TextBoxFor(s => s.ZipCode, new { @class = "form-control", @required = "required" })
                                @Html.ValidationMessageFor(s => s.ZipCode)
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-sm-6">
                                Fax
                                @Html.TextBoxFor(s => s.Fax, new { @class = "form-control", @required = "required" })
                                @Html.ValidationMessageFor(s => s.Fax)
                            </div>
                            <div class="col-sm-6">
                                Mobile No
                                @Html.TextBoxFor(s => s.MobileNo, new { @class = "form-control", @required = "required" })
                                @Html.ValidationMessageFor(s => s.MobileNo)
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-sm-6">
                                G.M Full Name
                                @Html.TextBoxFor(s => s.GMFullName, new { @class = "form-control", @required = "required" })
                                @Html.ValidationMessageFor(s => s.GMFullName)
                            </div>
                            <div class="col-sm-6">
                                ID Number
                                @Html.TextBoxFor(s => s.IDNumber, new { @class = "form-control", @required = "required" })
                                @Html.ValidationMessageFor(s => s.IDNumber)
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-sm-6">
                                ID Expiry Date
                                @Html.TextBoxFor(s => s.IDExpiryDate, "{0:MM/dd/yyyy}", new { @class = "form-control datepicker", @required = "required" })
                                @Html.ValidationMessageFor(s => s.IDExpiryDate)
                            </div>
                            <div class="col-sm-6">
                                G.M Email
                                @Html.TextBoxFor(s => s.GMEmail, new { @class = "form-control", @required = "required" })
                                @Html.ValidationMessageFor(s => s.GMEmail)
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-sm-6">
                                G.M Mobile No
                                @Html.TextBoxFor(s => s.GMMobileNo, new { @class = "form-control", @required = "required" })
                                @Html.ValidationMessageFor(s => s.GMMobileNo)
                            </div>
                            <div class="col-sm-6">
                                No Of Users
                                @Html.DropDownListFor(p => p.NoOfUserAllowed, new SelectList(new BLL.GenericMethods().FetchCompanySize(), "ID", "Name"), "Please Select", new { @class = "form-control", @required = "required" })
                                @Html.ValidationMessageFor(s => s.NoOfUserAllowed)
                            </div>
                        </div>
                    </div>
                    
                    <div class="form-group">
                        <div class="row">
                            <div class="col-sm-6">
                                <br />
                                
                                    @Html.CheckBoxFor(s => s.IsLogin, new { @class = "checkbox-inline", @id = "chkIsLogin" }) Login Status
                            </div>
                           <div class="col-sm-6">
                               <br />
                               Status
                               <div class="make-switch switch-mini" data-on="info" data-off="success" data-on-label="<i class='fa fa-check icon-white'></i>" data-off-label="<i class='fa fa-times'></i>">
                                   @Html.CheckBoxFor(p => p.IsActive, new { @class = "checkbox-inline" })
                               </div>
                           </div>
                        </div>
                    </div>
                    <div class="form-group" id="dvLogin">
                        <div class="row">
                            <div class="col-sm-6">
                                User Name
                                @Html.TextBoxFor(s => s.UserName, new { @class = "form-control", @type = "email", @required = "required" })
                                @Html.ValidationMessageFor(s => s.UserName)
                            </div>
                            <div class="col-sm-6">
                                Password
                                @Html.TextBoxFor(s => s.Password, new { @class = "form-control", @type = "password", @required = "required" })
                                @Html.ValidationMessageFor(s => s.Password)
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-sm-12">
                                <br />
                                <div class="pull-right">
                                    <button class="btn btn-success"><i class="fa fa-save"></i> Save</button>
                                    <a class="btn btn-default" href="/Organization">Cancel</a>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {

        if ('@(Model.IsLogin)' == 'True') {
            $('#dvLogin').show();
        }
        else {
            $('#dvLogin').hide();
        }


        $("#chkIsLogin").click(function () {
            if ($(this).is(":checked")) {
                $('#dvLogin').show(1000);
            } else {
                $('#dvLogin').hide(1000);

            }
        });
    });
    $(function () {
        $('.datepicker').datepicker({
            changeMonth: true,
            dateFormat: 'mm/dd/yy',
            changeYear: true,
            day: 0
        });
        // $('.datepicker').before("<img class='datepicker-close' onclick='ClearDate(this);' src='http://www.amazingsidingstl.com/wp-content/themes/asw/images/delete.png'/>");
    });
</script>
