﻿.ui-autocomplete {
    z-index: 3000 !important;
}
/*.ui-datepicker{z-index:900 !important;}*/
.grid-align-left {
    text-align: left !important;
}
.jsgrid-align-left {
    text-align: left !important;
}

#groupGrid table tr th:first-child, #groupGrid table tr td:first-child {
    width: 60% !important;
}

#folderGrid table tr th:first-child, #folderGrid table tr td:first-child {
    width: 60% !important;
}

.modal-body table.table-bordered.table1 tr th, .modal-body table.table-bordered.table1 tr td {
    padding: 0 10px;
}
.table-bordered.table1{margin-bottom:20px;}
table.total-table {max-width:250px; float:right; margin:10px 0;}
table.total-table tr:last-child td{border-top:2px solid #f4f4f4 !important;border-bottom:1px solid #f4f4f4 !important;}
.showNone{
    display:none;
}
.action{
    cursor: pointer;
}
.divWaiting {
    position: fixed;
    background-color: currentColor;
    z-index: 2147483647 !important;
    opacity: 0.4;
    /* overflow: hidden; */
    text-align: center;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    padding-top: 10%;
}
.field-validation-error {
    color:red;
}
