/*
 * jsGrid v1.3.1 (http://js-grid.com)
 * (c) 2015 Artem Tabalin
 * Licensed under MIT (https://github.com/tabalinas/jsgrid/blob/master/LICENSE)
 */

.jsgrid {
    position: relative;
    overflow: visible;
    font-size: 1em;
}




.jsgrid-grid-body tr:last-child .open > .dropdown-menu, .jsgrid-grid-body tr:nth-last-child(2) .open > .dropdown-menu{  top: -85px;}

.jsgrid-control-field{
    word-wrap: break-word; /* IE 5.5+ and CSS3 */
        white-space: pre-wrap; /* CSS3 */
        white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
        white-space: -pre-wrap; /* Opera 4-6 */
        white-space: -o-pre-wrap; /* Opera 7 */
        overflow:visible;
        height: auto;
        vertical-align: middle;
        padding-top: 3px;
        padding-bottom: 3px
}




    .jsgrid, .jsgrid *, .jsgrid *:before, .jsgrid *:after {
        box-sizing: border-box;
    }

        .jsgrid input,
        .jsgrid textarea,
        .jsgrid select {
            font-size: 1em;
        }

.jsgrid-grid-header {
    overflow-x: hidden;
    /*overflow-y: scroll;*/
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.jsgrid-grid-body {
    overflow-x: auto;
    /*overflow-y: scroll;*/
    -webkit-overflow-scrolling: touch;
}

.jsgrid-table {
    width: 100% !important;
    table-layout: fixed;
    border-collapse: collapse;
    border-spacing: 0;
}

    .jsgrid-table td {
    padding: 12px 20px;
	   cursor: text !important;
	 border-top: 0 none !important;
	 border-left: 0 none !important;
    border-right: 0 none !important;
    }

    .jsgrid-table td,
    .jsgrid-table th {
        box-sizing: border-box;
    }

.jsgrid-align-left {
    text-align: left;
}

.jsgrid-align-center {
    text-align: center;
}

.jsgrid-align-right {
    text-align: right;
}

.jsgrid-header-row > th {
    padding: .5em .5em;
}

.jsgrid-filter-row input,
.jsgrid-filter-row textarea,
.jsgrid-filter-row select,
.jsgrid-edit-row input,
.jsgrid-edit-row textarea,
.jsgrid-edit-row select,
.jsgrid-insert-row input,
.jsgrid-insert-row textarea,
.jsgrid-insert-row select {
    width: 90%;
    padding: .3em .5em;
}

    .jsgrid-filter-row input[type='checkbox'],
    .jsgrid-edit-row input[type='checkbox'],
    .jsgrid-insert-row input[type='checkbox'] {
        width: auto;
    }

.jsgrid-header-row > th,
.jsgrid-filter-row > td,
.jsgrid-insert-row > td,
.jsgrid-edit-row > td {
    text-align: center;
	
	
}
tr.jsgrid-selected-row{ }
tr.jsgrid-selected-row td {background:#fff !important; border-bottom:1px solid #ddd !important; border-top:none !important; }
tr.jsgrid-selected-row td:hover, tr.jsgrid-selected-row td:focus{ background:#fff !important;}
.jsgrid-selected-row td {
    cursor: pointer;
}
.jsgrid-nodata-row td {
    padding: .5em 0;
    text-align: center;
}

.jsgrid-header-sort {
    cursor: pointer;
}

.jsgrid-pager {
    padding: .5em 0;
    text-align:right;
}

.jsgrid-pager-nav-button {
    padding: .2em .6em;
}

.jsgrid-pager-nav-inactive-button {
    display: none;
    pointer-events: none;
}

.jsgrid-pager-page {
    border: 1px solid rgba(0, 0, 0, 0);
    border-radius: 3px;
    color: #333333;
    cursor: pointer;
    display: inline-block;
    margin-left: 2px;
    min-width: 36px;
    padding: 7px 12px;
    text-align: center;
    text-decoration: none;
}
.jsgrid-pager-page:hover, .jsgrid-pager-page:focus, .jsgrid-pager-page:active{
	
	   background-color: #e6e6e6;}
