﻿@model DAL.User
<script src="~/Angular/User.js"></script>
<link href="~/js/jquery-ui-1.10.3.custom/css/custom-theme/jquery-ui-1.10.3.custom.min.css" rel="stylesheet" />
<link href="~/js/bootstrap-switch/bootstrap-switch.css" rel="stylesheet" />
<script src="~/js/bootstrap-switch/bootstrap-switch.js"></script>
<div id="UserModal" class="modal fade" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content big">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Manage User</h4>
            </div>
            <div class="modal-body clearfix">
                @using (Html.BeginForm("Save", "User", FormMethod.Post, new { role = "form", enctype = "multipart/form-data", encoding = "multipart/form-data" }))
                {
                    @Html.HiddenFor(p => p.Id)
                    <div class="form-group">
                        <label for="AgreedActionText">Group</label>
                        @Html.DropDownListFor(p => p.GroupId, new SelectList(new BLL.ManageGroup().FetchGroup(new Account().FetchOrganization().OrganizationId), "ID", "Name"), "Please Select", new { @class = "form-control", @required = "required" })
                        @Html.ValidationMessageFor(p=>p.GroupId)
                    </div>
                    <div class="form-group">
                        <label for="AgreedActionText">Name<span style="color:red"> *</span></label>
                        @Html.TextBoxFor(p => p.FullName, new { @class = "form-control", @required = "required" })
                        @Html.ValidationMessageFor(p => p.FullName)
                    </div>
                    <div class="form-group">
                        <label for="AgreedActionText">Email<span style="color:red"> *</span></label>
                        @Html.TextBoxFor(p => p.Email, new { @class = "form-control", @type = "email", @required = "required" })
                        @Html.ValidationMessageFor(p => p.Email)
                    </div>
                    <div class="form-group">
                        <label for="AgreedActionText">Password<span style="color:red"> *</span></label>
                        @Html.TextBoxFor(p => p.Password, new { @class = "form-control", @type = "password", @required = "required" })
                        @Html.ValidationMessageFor(p => p.Password)
                    </div>
                    <div class="form-group">
                        <label for="AgreedActionText">Phone</label>
                        @Html.TextBoxFor(p => p.Phone, new { @class = "form-control" })
                        @Html.ValidationMessageFor(p => p.Phone)
                    </div>
                    <div class="form-group">
                        <label for="AgreedActionText">Gender<span style="color:red"> *</span></label>
                        @Html.DropDownListFor(p => p.Gender, new SelectList(new BLL.GenericMethods().FetchGender(), "Name", "Name"), "Please select", new { @class = "form-control", @id = "ddlSubMeasure", @required = "required" })
                        @Html.ValidationMessageFor(p => p.Gender)
                    </div>
                    <div class="form-group">
                        <label for="AgreedActionText">Nationality<span style="color:red"> *</span></label>
                        @Html.TextBoxFor(p => p.Nationality, new { @class = "form-control", @required = "required" })
                        @Html.ValidationMessageFor(p => p.Nationality)
                    </div>
                    <div class="form-group">
                        <label for="AgreedActionText">Job Title</label>
                        @Html.TextBoxFor(p => p.JobTitle, new { @class = "form-control" })
                        @Html.ValidationMessageFor(p => p.JobTitle)
                    </div>
                    <div class="form-group">
                        <label for="AgreedActionText">Date Of Birth<span style="color:red"> *</span></label>
                        @Html.TextBoxFor(p => p.DateOfBirth,"{0:MM/dd/yyyy}", new { @class = "form-control datepicker", @required = "required" })
                        @Html.ValidationMessageFor(p => p.DateOfBirth)
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-sm-6">
                                <label for="AgreedActionText">Picture</label>
                                <input type="file" accept=".jpg,.jpeg,.png,.gif" name="postedFiles" id="file" maxlength="100" value="" class="form-control" />
                            </div>
                            <div class="col-sm-6">
                                <div class="pull-right">
                                    <img src="~/App_Shared/Images/@Model.Picture" alt="Alternate Text" height="100" width="100" />
                                    @Html.HiddenFor(s => s.Picture)
                                    @Html.HiddenFor(s => s.OriginalPicture)
                                    @Html.ValidationMessageFor(p => p.Picture)
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="form-group">
                        <label for="AgreedActionText">Notes</label>
                        @Html.TextAreaFor(p => p.Notes, new { @class = "form-control" })
                        @Html.ValidationMessageFor(p => p.Notes)
                    </div>
                    <div class="form-group">
                        Status
                        <div class="make-switch switch-mini" data-on="info" data-off="success" data-on-label="<i class='fa fa-check icon-white'></i>" data-off-label="<i class='fa fa-times'></i>">
                            @Html.CheckBoxFor(p => p.Active, new { @class = "checkbox-inline" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="pull-right">
                            <button class="btn btn-sm btn-success" type="submit"><i class="fa fa-save"></i> Save</button>
                            <a class="btn btn-sm btn-success" data-dismiss="modal"><i class="fa fa-crosshairs"></i> Close</a>
                        </div>
                    </div>
                }

            </div>
        </div>
    </div>
</div>
<script>
    $(function () {
        $('.datepicker').datepicker({
            changeMonth: true,
            dateFormat: 'mm/dd/yy',
            changeYear: true,
            day: 0
        });
        // $('.datepicker').before("<img class='datepicker-close' onclick='ClearDate(this);' src='http://www.amazingsidingstl.com/wp-content/themes/asw/images/delete.png'/>");
    });
</script>