﻿
@{
    ViewBag.Title = "Chat";
}
<script src="~/js/timeago/jquery.timeago.min.js"></script>
<div class="row" ng-controller="ChatCTRL">
    <div class="container">
        <div class="form-group">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <!-- BOX -->
                    <div class="box border green chat-window">
                        <div class="box-title">
                            <h4><i class="fa fa-comments"></i>Chat Window</h4>
                            <div class="tools">
                                <a href="#box-config" data-toggle="modal" class="config">
                                    <i class="fa fa-cog"></i>
                                </a>
                                <a href="javascript:;" class="reload">
                                    <i class="fa fa-refresh"></i>
                                </a>
                                <a href="javascript:;" class="collapse">
                                    <i class="fa fa-chevron-up"></i>
                                </a>
                                <a href="javascript:;" class="remove">
                                    <i class="fa fa-times"></i>
                                </a>
                            </div>
                        </div>
                        <div class="box-body big">
                            <div class="scroller" data-height="450px" data-always-visible="1" data-rail-visible="1">
                                <ul class="media-list chat-list">
                                    <li class="media">
                                        <a class="pull-left" href="#">
                                            <img class="media-object" alt="Generic placeholder image" src="/img/chat/headshot1.jpg">
                                        </a>
                                        <div class="media-body chat-pop">
                                            <h4 class="media-heading">John Doe <span class="pull-right"><i class="fa fa-clock-o"></i> <abbr class="timeago" title="Oct 9, 2013">Oct 9, 2013</abbr> </span></h4>
                                            <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.</p>

                                        </div>
                                    </li>
                                    <li class="media">
                                        <a class="pull-right" href="#">
                                            <img class="media-object" alt="Generic placeholder image" src="/img/chat/headshot2.jpg">
                                        </a>
                                        <div class="pull-right media-body chat-pop mod">
                                            <h4 class="media-heading">You <span class="pull-left"><abbr class="timeago" title="Oct 10, 2013">Oct 10, 2013</abbr> <i class="fa fa-clock-o"></i></span></h4></h4>
                                            Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.
                                        </div>
                                    </li>
                                    <li class="media">
                                        <a class="pull-left" href="#">
                                            <img class="media-object" alt="Generic placeholder image" src="/img/chat/headshot3.jpg">
                                        </a>
                                        <div class="media-body chat-pop">
                                            <h4 class="media-heading">Tim Row <span class="pull-right"><i class="fa fa-clock-o"></i> <abbr class="timeago" title="Oct 10, 2013">Oct 10, 2013</abbr> </span></h4></h4>
                                            <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.</p>
                                        </div>
                                    </li>
                                    <li class="media">
                                        <a class="pull-left" href="#">
                                            <img class="media-object" alt="Generic placeholder image" src="/img/chat/headshot1.jpg">
                                        </a>
                                        <div class="media-body chat-pop">
                                            <h4 class="media-heading">John Doe <span class="pull-right"><i class="fa fa-clock-o"></i> <abbr class="timeago" title="Oct 10, 2013">Oct 10, 2013</abbr> </span></h4></h4>
                                            <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.</p>
                                        </div>
                                    </li>
                                    <li class="media">
                                        <a class="pull-right" href="#">
                                            <img class="media-object" alt="Generic placeholder image" src="/img/chat/headshot2.jpg">
                                        </a>
                                        <div class="pull-right media-body chat-pop mod">
                                            <h4 class="media-heading">You <span class="pull-left"><abbr class="timeago" title="Oct 11, 2013">Oct 11, 2013</abbr> <i class="fa fa-clock-o"></i></span></h4></h4>
                                            Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.
                                        </div>
                                    </li>
                                    <li class="media">
                                        <a class="pull-left" href="#">
                                            <img class="media-object" alt="Generic placeholder image" src="/img/chat/headshot4.jpg">
                                        </a>
                                        <div class="media-body chat-pop">
                                            <h4 class="media-heading">Jess Doe <span class="pull-right"><i class="fa fa-clock-o"></i> <abbr class="timeago" title="Oct 12, 2013">Oct 12, 2013</abbr> </span></h4></h4>
                                            <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.</p>
                                        </div>
                                    </li>
                                    <li class="media">
                                        <a class="pull-right" href="#">
                                            <img class="media-object" alt="Generic placeholder image" src="/img/chat/headshot2.jpg">
                                        </a>
                                        <div class="pull-right media-body chat-pop mod">
                                            <h4 class="media-heading">You <span class="pull-left"><abbr class="timeago" title="Oct 12, 2013">Oct 12, 2013</abbr> <i class="fa fa-clock-o"></i></span></h4></h4>
                                            Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div class="divide-20"></div>
                            <div class="chat-form">
                                <div class="input-group">
                                    <input type="text" class="form-control">
                                    <span class="input-group-btn"> <button class="btn btn-primary" type="button"><i class="fa fa-check"></i></button> </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /BOX -->
                </div>
            </div>
        </div>
    </div>
</div>
