﻿
@{
    ViewBag.Title = "Manage User";
}

@Scripts.Render("~/AngularJsGrid/jquery")

<div class="row" ng-controller="UserCTRL">
    <div class="col-sm-12">
        <div class="form-group">
            <div class="row">
                <div class="col-sm-12">
                    @if (TempData["Error"] != null)
                    {
                        <div class="alert alert-danger">
                            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                            <strong>Error!</strong> @TempData["Error"]
                        </div>
                    }
                </div>
            </div>
        </div>
        <div class="form-group">

            <div class="panel">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-2">
                            Name
                            <input type="text" ng-model="departSearch.Name" class="form-control" />
                        </div>
                        <div class="col-sm-2">
                            Group
                            <select ng-model="departSearch.GroupId" class="form-control">
                                <option value="">All</option>
                                <option ng-repeat="x in SearchGroups" value="{{x.Id}}">{{x.Name}}</option>
                            </select>
                        </div>
                        <div class="col-sm-2">
                            Status
                            <select ng-model="departSearch.Status" class="form-control">
                                <option value="">All</option>
                                <option value="1">Active</option>
                                <option value="0">In-Active</option>
                            </select>
                        </div>
                        <div class="col-sm-1">
                            <br />
                            <button class="btn btn-success" ng-click="Search();"><i class="fa fa-search"></i> Search</button>
                        </div>
                        <div class="col-sm-5">
                            <br />
                            <a ng-click="DepartmentOpenModel();" class="pull-right btn btn-primary"><i class="fa fa-plus"></i> Add User</a>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div class="form-group">
            <div class="row">
                <div class="col-sm-12">
                    <div id="userGrid"></div>
                </div>
            </div>
        </div>
        <div id="dvUserDetail">
            @Html.Partial("_User")
        </div>
    </div>

</div>

