﻿@model DAL.User
@{
    ViewBag.Title = "User Profile";
}
<link href="~/js/jquery-ui-1.10.3.custom/css/custom-theme/jquery-ui-1.10.3.custom.min.css" rel="stylesheet" />
<link href="~/js/bootstrap-switch/bootstrap-switch.css" rel="stylesheet" />
<script src="~/js/bootstrap-switch/bootstrap-switch.js"></script>
<div class="row">
    <div class="panel">
        <div class="panel-body clearfix">
            <div class="col-sm-12">
                @using (Html.BeginForm("UserProfile", "User", FormMethod.Post, new { role = "form", enctype = "multipart/form-data", encoding = "multipart/form-data" }))
                {
                    @Html.HiddenFor(p => p.Id)
                    <div class="form-group">
                        <div class="row">
                            <div class="col-sm-6">
                                <label for="AgreedActionText">Group</label>
                                @Html.DropDownListFor(p => p.GroupId, new SelectList(new BLL.ManageGroup().FetchGroup(new Account().FetchOrganization().OrganizationId), "ID", "Name"), "Please Select", new { @class = "form-control", @required = "required", @disabled = "disabled" })
                            </div>
                            <div class="col-sm-6">
                                <label for="AgreedActionText">Name<span style="color:red"> *</span></label>
                                @Html.TextBoxFor(p => p.FullName, new { @class = "form-control", @required = "required" })
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-sm-6">
                                <label for="AgreedActionText">Email<span style="color:red"> *</span></label>
                                @Html.TextBoxFor(p => p.Email, new { @class = "form-control", @type = "email", @required = "required", @disabled = "disabled" })
                            </div>
                            @*<div class="col-sm-6">
                                <label for="AgreedActionText">Password<span style="color:red"> *</span></label>
                                @Html.TextBoxFor(p => p.Password, new { @class = "form-control", @type = "password", @required = "required", @disabled = "disabled" })
                            </div>*@
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-sm-6">
                                <label for="AgreedActionText">Phone</label>
                                @Html.TextBoxFor(p => p.Phone, new { @class = "form-control" })
                            </div>
                            <div class="col-sm-6">
                                <label for="AgreedActionText">Gender<span style="color:red"> *</span></label>
                                @Html.DropDownListFor(p => p.Gender, new SelectList(new BLL.GenericMethods().FetchGender(), "Name", "Name"), "Please select", new { @class = "form-control", @id = "ddlSubMeasure", @required = "required" })
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="row">
                            <div class="col-sm-6">
                                <label for="AgreedActionText">Nationality<span style="color:red"> *</span></label>
                                @Html.TextBoxFor(p => p.Nationality, new { @class = "form-control", @required = "required" })
                            </div>
                            <div class="col-sm-6">
                                <label for="AgreedActionText">Job Title</label>
                                @Html.TextBoxFor(p => p.JobTitle, new { @class = "form-control" })
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="row">
                            <div class="col-sm-6">
                                <label for="AgreedActionText">Picture</label>
                                <input type="file" accept=".jpg,.jpeg,.png,.gif" name="postedFiles" id="file" maxlength="100" value="" class="form-control" />
                            </div>
                            <div class="col-sm-6">
                                <div class="">
                                    <img src="~/App_Shared/Images/@Model.Picture" alt="Alternate Text" height="100" width="100" />
                                    @Html.HiddenFor(s => s.Picture)
                                    @Html.HiddenFor(s => s.OriginalPicture)
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="form-group">
                        <label for="AgreedActionText">Notes</label>
                        @Html.TextAreaFor(p => p.Notes, new { @class = "form-control" })
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-sm-6">
                                <label for="AgreedActionText">Date Of Birth<span style="color:red"> *</span></label>
                                @Html.TextBoxFor(p => p.DateOfBirth, "{0:MM/dd/yyyy}", new { @class = "form-control datepicker", @required = "required", @disabled = "disabled" })
                            </div>
                            <div class="col-sm-6" style="margin-top:10px;">
                                <br />
                                Status
                                <div class="make-switch switch-mini" data-on="info" data-off="success" data-on-label="<i class='fa fa-check icon-white'></i>" data-off-label="<i class='fa fa-times'></i>">
                                    @Html.CheckBoxFor(p => p.Active, new { @class = "checkbox-inline" })
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="form-group">
                        <div class="pull-right">
                            <button class="btn btn-sm btn-success" type="submit"><i class="fa fa-save"></i> Save</button>
                            <a class="btn btn-sm btn-success" href="/Home/Index"><i class="fa fa-crosshairs"></i> Cancel</a>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

<script>
    $(function () {
        $('.datepicker').datepicker({
            changeMonth: true,
            dateFormat: 'mm/dd/yy',
            changeYear: true,
            day: 0
        });
    });
</script>