﻿@model DAL.AgreementViewModel
<br />
<br />
<div class="panel">
    @if (Model.lstStudent.Count > 0)
    {
        <div class="panel-heading">
            <h3><strong>Students Detail</strong></h3>
        </div>
    }
    <div class="panel-body">
        <div class="row">
            <div class="col-sm-12">
                <div class="col-sm-3"></div>
                <div class="col-sm-3"></div>
                <div class="col-sm-3"></div>
                <div class="col-sm-3"></div>
            </div>
        </div>
        @for (int i = 0; i < Model.lstStudent.Count; i++)
        {
            <div class="row">
                <div class="col-sm-12">
                    <div class="col-sm-3">
                        @Html.HiddenFor(s => s.lstStudent[i].Id)
                        <div class="form-group">
                            Student Name
                            @Html.TextBoxFor(s => s.lstStudent[i].Name, new { @class = "form-control" })
                            @Html.ValidationMessageFor(s => s.lstStudent[i].Name)
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            Father Name
                            @Html.TextBoxFor(s => s.lstStudent[i].FatherName, new { @class = "form-control" })
                            @Html.ValidationMessageFor(s => s.lstStudent[i].FatherName)
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            CNIC
                            @Html.TextBoxFor(s => s.lstStudent[i].CNIC, new { @class = "form-control" })
                            @Html.ValidationMessageFor(s => s.lstStudent[i].CNIC)
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <br />
                        <div class="form-group">
                            <div class="col-sm-6">
                                Status
                            </div>
                            <div class="col-sm-6">
                                @Html.CheckBoxFor(s => s.lstStudent[i].IsActive, new { @class = "form-control" })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
