﻿@model DAL.Agreement
@{
    ViewBag.Title = "Add Agreement";
}
@Scripts.Render("~/AngularJsGrid/jquery")
<link href="~/js/jquery-ui-1.10.3.custom/css/custom-theme/jquery-ui-1.10.3.custom.min.css" rel="stylesheet" />
<link href="~/js/bootstrap-switch/bootstrap-switch.css" rel="stylesheet" />
<script src="~/js/bootstrap-switch/bootstrap-switch.js"></script>
<div class="row">
    <div class="col-sm-12">
        <div class="panel">
            <div class="panel-body clearfix">
                @using (Html.BeginForm("AddAgreement", "Agreement", FormMethod.Post))
                {
                    @Html.HiddenFor(s => s.Id)
                    <div class="form-group">
                        <div class="row">
                            <div class="col-sm-6">
                                Organization
                                @Html.DropDownListFor(p => p.OrganizationId, new SelectList(new BLL.ManageOrganization().FetchOrganizations(), "ID", "Name"), "Please Select", new { @class = "form-control", @required = "required" })
                                @Html.ValidationMessageFor(s=>s.OrganizationId)
                            </div>
                            <div class="col-sm-6">
                                Institute
                                @Html.DropDownListFor(p => p.InstituteId, new SelectList(new BLL.ManageInstitute().FetchInstitute(), "ID", "Name"), "Please Select", new { @class = "form-control", @required = "required" })
                                @Html.ValidationMessageFor(s => s.InstituteId)
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-sm-6">
                                Program Coordinator Full Name
                                @Html.TextBoxFor(s => s.PCFullName, new { @class = "form-control", @required = "required" })
                                @Html.ValidationMessageFor(s => s.PCFullName)
                            </div>
                            <div class="col-sm-6">
                                Program Coordinator ID Number
                                @Html.TextBoxFor(s => s.PCIDNumber, new { @class = "form-control", @required = "required" })
                                @Html.ValidationMessageFor(s => s.PCIDNumber)
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-sm-6">
                                Program Coordinator Expiry Date
                                @Html.TextBoxFor(s => s.PCIDExpiryDate, "{0:MM/dd/yyyy}", new { @class = "form-control datepicker", @required = "required" })
                                @Html.ValidationMessageFor(s => s.PCIDExpiryDate)
                            </div>
                            <div class="col-sm-6">
                                Job Title
                                @Html.TextBoxFor(s => s.JobTitle, new { @class = "form-control", @required = "required" })
                                @Html.ValidationMessageFor(s => s.JobTitle)
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-sm-6">
                                Program Coordinator Email
                                @Html.TextBoxFor(s => s.PCEmail, new { @class = "form-control" })
                                @Html.ValidationMessageFor(s => s.PCEmail)
                            </div>
                            <div class="col-sm-6">
                                Program Coordinator Mobile No
                                @Html.TextBoxFor(s => s.PCMobileNo, new { @class = "form-control" })
                                @Html.ValidationMessageFor(s => s.PCMobileNo)
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-sm-6">
                                Start Date
                                @Html.TextBoxFor(s => s.StartDate, "{0:MM/dd/yyyy}", new { @class = "form-control datepicker", @required = "required" })
                                @Html.ValidationMessageFor(s => s.StartDate)
                            </div>
                            <div class="col-sm-6">
                                End Date
                                @Html.TextBoxFor(s => s.EndDate, "{0:MM/dd/yyyy}", new { @class = "form-control datepicker", @required = "required" })
                                @Html.ValidationMessageFor(s => s.EndDate)
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-sm-6">
                                Training Center Approval Letter
                                @Html.TextBoxFor(s => s.TrainingCenterApprovalLetter, new { @class = "form-control", @required = "required" })
                                @Html.ValidationMessageFor(s => s.TrainingCenterApprovalLetter)
                            </div>
                            <div class="col-sm-6">
                                Purchase Order No.
                                @Html.TextBoxFor(s => s.PurchaseOrderNo, new { @class = "form-control", @required = "required" })
                                @Html.ValidationMessageFor(s => s.PurchaseOrderNo)
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-sm-6">
                                <br />
                                System Availability
                                <div class="make-switch switch-mini" data-on="info" data-off="success" data-on-label="<i class='fa fa-check icon-white'></i>" data-off-label="<i class='fa fa-times'></i>">
                                    @Html.CheckBoxFor(p => p.SystemAvailability, new { @class = "checkbox-inline" })
                                    @Html.ValidationMessageFor(s => s.SystemAvailability)
                                </div>
                                @*@Html.TextBoxFor(s => s.SystemAvailability, new { @class = "form-control", @required = "required" })*@
                            </div>
                            <div class="col-sm-6">
                                Approval Body
                                @Html.TextBoxFor(s => s.ApprovalBody, new { @class = "form-control", @required = "required" })
                                @Html.ValidationMessageFor(s => s.ApprovalBody)
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-sm-6">
                                Program Name
                                @Html.TextBoxFor(s => s.ProgramName, new { @class = "form-control", @required = "required" })
                                @Html.ValidationMessageFor(s => s.ProgramName)
                            </div>
                            <div class="col-sm-6">
                                Program Objective
                                @Html.TextBoxFor(s => s.ProgramObjective, new { @class = "form-control", @required = "required" })
                                @Html.ValidationMessageFor(s => s.ProgramObjective)
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-sm-6">
                                Program Type
                                @Html.TextBoxFor(s => s.ProgramType, new { @class = "form-control", @required = "required" })
                                @Html.ValidationMessageFor(s => s.ProgramType)
                            </div>
                            <div class="col-sm-6">
                                Duration
                                @Html.TextBoxFor(s => s.Duration, new { @class = "form-control", @required = "required" })
                                @Html.ValidationMessageFor(s => s.Duration)
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-sm-6">
                                Trainee Number
                                @Html.TextBoxFor(s => s.TraineeNumber, new { @class = "form-control", @required = "required" })
                                @Html.ValidationMessageFor(s => s.TraineeNumber)
                            </div>
                            <div class="col-sm-6">
                                Training Fee Per Student
                                @Html.TextBoxFor(s => s.TrainingFeePerStudent, new { @class = "form-control", @required = "required" })
                                @Html.ValidationMessageFor(s => s.TrainingFeePerStudent)
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-sm-6">
                                <br />
                                Instructor Availability
                                <div class="make-switch switch-mini" data-on="info" data-off="success" data-on-label="<i class='fa fa-check icon-white'></i>" data-off-label="<i class='fa fa-times'></i>">
                                    @Html.CheckBoxFor(p => p.InstructorAvailability, new { @class = "checkbox-inline" })
                                    @Html.ValidationMessageFor(s => s.InstructorAvailability)
                                </div>
                            </div>
                            <div class="col-sm-6">
                                Teaching Method
                                @Html.TextBoxFor(s => s.TeachingMethod, new { @class = "form-control", @required = "required" })
                                @Html.ValidationMessageFor(s => s.TeachingMethod)
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-sm-6">
                                <br />
                                Training Material Availability
                                <div class="make-switch switch-mini" data-on="info" data-off="success" data-on-label="<i class='fa fa-check icon-white'></i>" data-off-label="<i class='fa fa-times'></i>">
                                    @Html.CheckBoxFor(p => p.TrainingMaterialAvailability, new { @class = "checkbox-inline" })
                                    @Html.ValidationMessageFor(s => s.TrainingMaterialAvailability)
                                </div>
                            </div>
                            <div class="col-sm-6">
                                Training Plan
                                @Html.TextBoxFor(s => s.TrainingPlan, new { @class = "form-control", @required = "required" })
                                @Html.ValidationMessageFor(s => s.TrainingPlan)
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-sm-6">
                                Program Content
                                @Html.TextBoxFor(s => s.ProgramContent, new { @class = "form-control", @required = "required" })
                                @Html.ValidationMessageFor(s => s.ProgramContent)
                            </div>
                            <div class="col-sm-6">
                                Evaluation
                                @Html.TextBoxFor(s => s.Evaluation, new { @class = "form-control", @required = "required" })
                                @Html.ValidationMessageFor(s => s.Evaluation)
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-sm-6">
                                Certification
                                @Html.TextBoxFor(s => s.Certification, new { @class = "form-control", @required = "required" })
                                @Html.ValidationMessageFor(s => s.Certification)
                            </div>
                            <div class="col-sm-6">
                                Total Amount
                                @Html.TextBoxFor(s => s.TotalAmount, new { @class = "form-control" })
                                @Html.ValidationMessageFor(s => s.TotalAmount)
                            </div>

                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-sm-12">
                                <br />
                                <div class="pull-right">
                                    <button class="btn btn-success"><i class="fa fa-save"></i> Save</button>
                                    <a class="btn btn-default" href="/Agreement">Cancel</a>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
