﻿@model DAL.AgreementViewModel
@{
    ViewBag.Title = "Agreement Students";
}
@Scripts.Render("~/AngularJsGrid/jquery")
<div class="row">
    <div class="col-sm-12">
        <div class="panel">
            @using (Html.BeginForm("SaveStudents", "Agreement", FormMethod.Post, new { }))
            {
                <div class="panel-body clearfix">
                    <div class="form-group">
                        <div class="col-sm-3">
                            Agreement
                            @Html.DropDownListFor(p => p.AgreementId, new SelectList(new BLL.ManageOrganization().FetchAgreementById(new Account().FetchOrganization().OrganizationId), "Id", "Name"), "Please Select", new { @id = "ddlAgreements", @class = "form-control", @required = "required" })
                        </div>
                        <div class="col-sm-9"></div>
                    </div>
                    <div class="form-group">
                        <div id="dvStudents">
                            @Html.Partial("_AgreementStudents", Model)
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-12">
                            <div class="pull-right">
                                <button type="submit" class="btn btn-success">Approve</button>
                                <a class="btn btn-default" onclick="location.reload();">Cancel</a>
                            </div>
                        </div>
                    </div>
                </div>
            }

        </div>

    </div>
</div>
<script>
    $(document).on("change", "#ddlAgreements", function () {
        var agreementId = $(this).val();
        $.ajax({
            url: '/Agreement/FetchStudents',
            type: 'Post',
            data: { Id: agreementId },
            success: function (result) {
                $("#dvStudents").html(result);
            }
        });
    });
</script>
