﻿@model CertiPower.Models.ForgotPasswordViewModel
@{
    ViewBag.Title = "Forgot your password?";
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>@ViewBag.Title</title>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="stylesheet" type="text/css" href="~/css/cloud-admin.css">

    <link href="~/font-awesome/css/font-awesome.css" rel="stylesheet">
    <!-- DATE RANGE PICKER -->
    <link rel="stylesheet" type="text/css" href="~/js/bootstrap-daterangepicker/daterangepicker-bs3.css" />
    <!-- UNIFORM -->
    <link rel="stylesheet" type="text/css" href="~/js/uniform/css/uniform.default.min.css" />
    <!-- ANIMATE -->
    <link rel="stylesheet" type="text/css" href="~/css/animatecss/animate.css" />
    <link href="~/css/styles.css" rel="stylesheet" />
</head>
<body class="login">
    <section id="page">
        <section id="">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 col-md-offset-4">
                        <div class="login-box">
                            <h2 class="bigintro">Forgot Password</h2>
                            <div class="divide-40"></div>
                            @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                            {
                                @Html.AntiForgeryToken()
                                @Html.ValidationSummary("", new { @class = "text-danger" })
                                <div class="form-group">
                                    @Html.LabelFor(m => m.Email, new { @class = "control-label" })
                                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-sm-6"></div>
                                        <div class="col-sm-6">
                                            <button type="submit" class="btn btn-success btn-sm">Email Link</button>
                                        </div>
                                    </div>
                                </div>
                            }
                            <div class="divide-20"></div>
                            <div class="login-helpers">
                                <a href="/Account/Login" style="color:white;">Back to Login</a> <br>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </section>
</body>
</html>
<script src="~/js/jquery/jquery-2.0.3.js"></script>
<!-- JQUERY UI-->
<script src="~/js/jquery-ui-1.10.3.custom/js/jquery-ui-1.10.3.custom.js"></script>
<!-- BOOTSTRAP -->
<script src="~/bootstrap-dist/js/bootstrap.js"></script>
<script src="~/js/jQuery-Cookie/jquery.cookie.js"></script>


<!-- UNIFORM -->
<script type="text/javascript" src="~/js/uniform/jquery.uniform.min.js"></script>
<script type="text/javascript" src="~/js/backstretch/jquery.backstretch.min.js"></script>
<!-- CUSTOM SCRIPT -->
<script src="~/js/script.js"></script>
<script>
        jQuery(document).ready(function () {
            App.setPage("login_bg");  //Set current page
            App.init(); //Initialise plugins and elements
        });
</script>
<script type="text/javascript">
        function swapScreen(id) {
            jQuery('.visible').removeClass('visible animated fadeInUp');
            jQuery('#' + id).addClass('visible animated fadeInUp');
        }
</script>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
