﻿@{
    ViewBag.Title = "Forgot Password Confirmation";
    Layout = "~/Views/Shared/_LayoutWithoutLogin.cshtml";
}

<div>
    <p>
        Please check your email to reset your password.
    </p>
</div>
	
