﻿@using CertiPower.Models
@model LoginViewModel
@{
    //--ViewBag.Title = "Log in";
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Login</title>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="stylesheet" type="text/css" href="~/css/cloud-admin.css">

    <link href="~/font-awesome/css/font-awesome.css" rel="stylesheet">
    <!-- DATE RANGE PICKER -->
    <link rel="stylesheet" type="text/css" href="~/js/bootstrap-daterangepicker/daterangepicker-bs3.css" />
    <!-- UNIFORM -->
    <link rel="stylesheet" type="text/css" href="~/js/uniform/css/uniform.default.min.css" />
    <!-- ANIMATE -->
    <link rel="stylesheet" type="text/css" href="~/css/animatecss/animate.css" />
    <link href="~/css/styles.css" rel="stylesheet" />
</head>
<body class="login">
    <section id="page">

        <section id="login_bg" class="visible">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 col-md-offset-4">
                        <div class="login-box" style="background-image:url(/img/LH-Print.PNG);background-size:cover">
                            @*<div class="text-center">
                                    <img src="~/img/CertiPowerLogo.PNG" height="50" width="120" />
                                </div>*@
                            <h2 class="bigintro"  style="color:black">Sign In</h2>
                            <div class="divide-40"></div>
                            @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                            {
                                @Html.AntiForgeryToken()
                                @Html.ValidationSummary("", new { @class = "text-danger" })
                                <div class="form-group">
                                    <label for="exampleInputEmail1" style="color:black">Email address</label>
                                    <i class="fa fa-envelope"></i>
                                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputPassword1" style="color:black">Password</label>
                                    <i class="fa fa-lock"></i>
                                    @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-sm-5"><label class="checkbox" style="color:black"> Remember me</label> </div>
                                        <div class="col-sm-2" style="margin-top:10px;"><input type="checkbox" class="uniform" value="" /></div>
                                        <div class="col-sm-5"></div>
                                        </div>
                                </div>
                                <div class="form-group">
                                    <button type="submit" class="btn btn-danger">Login</button>

                                </div>
                            }
                            <!-- SOCIAL LOGIN -->
                            <div class="divide-20"></div>
                            <!-- /SOCIAL LOGIN -->
                            <div class="login-helpers">
                                <a href="/Account/ForgotPassword" style="color:black;">Forgot Password?</a> <br>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

    </section>
    <script src="~/js/jquery/jquery-2.0.3.js"></script>
    <!-- JQUERY UI-->
    <script src="~/js/jquery-ui-1.10.3.custom/js/jquery-ui-1.10.3.custom.js"></script>
    <!-- BOOTSTRAP -->
    <script src="~/bootstrap-dist/js/bootstrap.js"></script>
    <script src="~/js/jQuery-Cookie/jquery.cookie.js"></script>


    <!-- UNIFORM -->
    <script type="text/javascript" src="~/js/uniform/jquery.uniform.min.js"></script>
    <script type="text/javascript" src="~/js/backstretch/jquery.backstretch.min.js"></script>
    <!-- CUSTOM SCRIPT -->
    <script src="~/js/script.js"></script>
    @*<script>
            jQuery(document).ready(function () {
                App.setPage("login_bg");  //Set current page
                App.init(); //Initialise plugins and elements
            });
        </script>
        <script type="text/javascript">
            function swapScreen(id) {
                jQuery('.visible').removeClass('visible animated fadeInUp');
                jQuery('#' + id).addClass('visible animated fadeInUp');
            }
        </script>*@
    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
</body>
</html>
