﻿@{
    if (User.Identity.IsAuthenticated)
    {

    }
    else
    {
        Response.Redirect("/Account/Login");
    }
    DAL.FetchOrganizationDetail_Result org = new Account().FetchOrganization();
}

@{
    ViewBag.Title = "Welcome to " + org.OrganizationName;
}

<div class="row" ng-controller="RecordCTRL">

    <div class="container">
        @if (User.IsInRole("Admin") || User.IsInRole("Organization") || User.IsInRole("User"))
            {
            <div class="form-group">
                <div class="row">
                    <div class="col-sm-3">
                        <a href="/User" class="btn btn-block btn-success" style="height:132px;" title="Manage Users">
                            <div style="font-size:50px;">
                                <i class="fa fa-user" style="padding-top:12px;"></i>
                                <p style="font-size:medium">Manage Users</p>
                            </div>
                        </a>
                    </div>
                    <div class="col-sm-3">
                        <a href="/Group" class="btn btn-block btn-warning" style="height:132px;" title="Manage Groups">
                            <div style="font-size:50px;">
                                <i class="fa fa-group" style="padding-top:12px;"></i>
                                <p style="font-size:medium">Manage Groups</p>
                            </div>
                        </a>
                    </div>
                    <div class="col-sm-3">
                        <a href="/Folder" class="btn btn-block btn-danger" style="height:132px;" title="Manage Folders">
                            <div style="font-size:50px;">
                                <i class="fa fa-folder" style="padding-top:12px;"></i>
                                <p style="font-size:medium">Manage Folders</p>
                            </div>
                        </a>
                    </div>
                    <div class="col-sm-3">
                        <a href="/Record" class="btn btn-block btn-primary" style="height:132px;" title="Manage Records">
                            <div style="font-size:50px;">
                                <i class="fa fa-circle-o" style="padding-top:12px;"></i>
                                <p style="font-size:medium">Manage Records</p>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        }
        @if (User.IsInRole("Admin"))
        {
            <div class="form-group">
                <div class="row">
                    <div class="col-sm-3">
                        <a href="/Organization" class="btn btn-block btn-primary" style="height:132px;" title="Manage Organizations">
                            <div style="font-size:50px;">
                                <i class="fa fa-hospital-o" style="padding-top:12px;"></i>
                                <p style="font-size:medium">Manage Organizations</p>
                            </div>
                        </a>
                    </div>
                    <div class="col-sm-3">
                        <a href="/Institute" class="btn btn-block btn-default" style="height:132px;" title="Institute">
                            <div style="font-size:50px;">
                                <i class="fa fa-hospital-o" style="padding-top:12px;"></i>
                                <p style="font-size:medium">Manage Institutes</p>
                            </div>
                        </a>
                    </div>
                    <div class="col-sm-3">
                        <a href="/Agreement" class="btn btn-block" style="height:132px; background-color:plum;" title="Agreements">
                            <div style="font-size:50px;">
                                <i class="fa fa-lock" style="padding-top:12px;"></i>
                                <p style="font-size:medium">Manage Agreements</p>
                            </div>
                        </a>
                    </div>
                    
                </div>
            </div>
        }
        <div class="form-group">
            <div class="row">

                <div class="col-sm-3">
                    <a href="#" class="btn btn-block btn-info" style="height:132px;" title="Chat">
                        <div style="font-size:50px;">
                            <i class="fa fa-key" style="padding-top:12px;"></i>
                            <p style="font-size:medium">Privillages Area</p>
                        </div>
                    </a>
                </div>
                <div class="col-sm-3">
                    <a href="/User/Chat" class="btn btn-block bg-pink" style="height:132px;" title="Chat">
                        <div style="font-size:50px;">
                            <i class="fa fa-comment-o" style="padding-top:12px;"></i>
                            <p style="font-size:medium">Chat</p>
                        </div>
                    </a>
                </div>
                <div class="col-sm-3">
                    <a href="../Manage/ChangePassword" class="btn btn-block bg-indigo" style="height:132px;" title="Settings">
                        <div style="font-size:50px;">
                            <i class="fa fa-cogs" style="padding-top:12px;"></i>
                            <p style="font-size:medium">Settings</p>
                        </div>
                    </a>
                </div>
                <div class="col-sm-3">
                    <a href="#" class="btn btn-block bg-violet" style="height:132px;" title="Messages History">
                        <div style="font-size:50px;">
                            <i class="fa fa-envelope" style="padding-top:12px;"></i>
                            <p style="font-size:medium">Messages History</p>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>


</div>